<?xml version='1.0' encoding='UTF-8'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1"
          xmlns:f="http://java.sun.com/jsf/core"
          xmlns:h="http://java.sun.com/jsf/html"
          xmlns:af="http://xmlns.oracle.com/adf/faces/rich"
          xmlns:c="http://java.sun.com/jsp/jstl/core">
   <c:set var="viewcontrollerBundle"
          value="#{adfBundle['mx.tgc.view.ViewControllerBundle']}"/>
   <jsp:directive.page contentType="text/html;charset=UTF-8"/>
   <f:view>
      <af:document id="d1"
                   title="#{viewcontrollerBundle['CON.CONSULTA']} - #{viewcontrollerBundle['CON.DETALLES']}">
         <af:messages id="m1"/>
         <af:form id="f1">
            <af:pageTemplate viewId="/catastro/template/case2Template.jspx"
                             id="pt1545">
               <f:facet name="body">
                  <af:panelGroupLayout id="pgl4" layout="vertical"
                                       styleClass="AFStretchWidth AFStretchHeight">
                     <af:panelGroupLayout id="pgl9" layout="horizontal"
                                          halign="start"
                                          styleClass="AFStretchWidth">
                        <af:train value="#{controllerContext.currentViewPort.taskFlowContext.trainModel}"
                                  var="node" id="train1">
                           <f:facet name="nodeStamp">
                              <af:commandNavigationItem text="#{node.outcome}"
                                                        immediate="#{node.immediate}"
                                                        destination="#{node.outcome}"
                                                        disabled="true"
                                                        visited="#{node.visited}"
                                                        id="commandNavigationItem1"/>
                           </f:facet>
                        </af:train>
                        <af:spacer width="200" height="7" id="s3"/>
                        <af:commandButton text="#{viewcontrollerBundle['BOTON.ANTERIOR']}"
                                          id="cb3"
                                          action="#{DetallesPadronBean.operacionAnterior}"/>
                     </af:panelGroupLayout>
                     <af:panelTabbed id="pt2"
                                     styleClass="AFStretchWidth AFStretchHeight"
                                     inlineStyle="height:420px;">
                        <af:showDetailItem text="#{viewcontrollerBundle['TIT.DATOS_PREDIO']}"
                                           id="sdi1" styleClass="AFStretchWidth"
                                           disclosureListener="#{DetallesPadronBean.despliegaTabs}"
                                           binding="#{DetallesPadronBean.showDetailItemDatosPredios}"
                                           stretchChildren="first"
                                           inflexibleHeight="100">
                           <af:panelGroupLayout id="pgl8" layout="scroll">
                              <af:panelHeader text="#{viewcontrollerBundle['TIT.DATOS_PREDIO']}"
                                              id="ph1">
                                 <af:spacer width="10" height="10" id="s2"/>
                                 <af:panelGroupLayout id="pgl12"
                                                      layout="horizontal"
                                                      valign="top" halign="left"
                                                      styleClass="AFStretchWidth">
                                    <af:panelGroupLayout id="pgl13"
                                                         layout="horizontal"
                                                         valign="top"
                                                         halign="left">
                                       <af:panelGroupLayout id="pgl15">
                                          <af:panelFormLayout id="pfl9">
                                             <af:panelLabelAndMessage label="#{bindings.ClaveCatastral.hints.label}:"
                                                                      id="plam25">
                                                <af:outputText value="#{bindings.ClaveCatastral.inputValue}"
                                                               id="ot48"/>
                                             </af:panelLabelAndMessage>
                                             <af:panelLabelAndMessage label="#{bindings.Ubicacion.hints.label}:"
                                                                      id="plam14">
                                                <af:outputText value="#{bindings.Ubicacion.inputValue}"
                                                               id="ot41"/>
                                             </af:panelLabelAndMessage>
                                             <af:panelLabelAndMessage label="#{viewcontrollerBundle.DOMICILIO_REFERENCIA}:"
                                                                      id="plam12">
                                                <af:outputText value="#{requestContext.pageFlowScope.domicilioRef}"
                                                               id="ot30"/>
                                             </af:panelLabelAndMessage>
                                             <af:panelLabelAndMessage label="#{bindings.PropietarioRazonSocial.hints.label}:"
                                                                      id="plam21">
                                                <af:outputText value="#{bindings.PropietarioRazonSocial.inputValue}"
                                                               id="ot59"/>
                                             </af:panelLabelAndMessage>
                                             <af:panelLabelAndMessage label="#{bindings.NombrePredio.hints.label}:"
                                                                      id="plam20">
                                                <af:outputText value="#{bindings.NombrePredio.inputValue}"
                                                               id="ot53"/>
                                             </af:panelLabelAndMessage>
                                             <af:panelLabelAndMessage label="#{bindings.DescripcionTerreno.hints.label}:"
                                                                      id="plam24">
                                                <af:outputText value="#{bindings.DescripcionTerreno.inputValue}"
                                                               id="ot57"/>
                                             </af:panelLabelAndMessage>
                                             <af:selectOneChoice value="#{bindings.PredioEnCondominio1.inputValue}"
                                                                 label="#{bindings.PredioEnCondominio1.hints.label}:"
                                                                 required="#{bindings.PredioEnCondominio1.hints.mandatory}"
                                                                 shortDesc="#{bindings.PredioEnCondominio1.hints.tooltip}"
                                                                 id="soc10"
                                                                 readOnly="true">
                                                <f:selectItems value="#{bindings.PredioEnCondominio1.items}"
                                                               id="si10"/>
                                             </af:selectOneChoice>
                                             <af:panelLabelAndMessage label="#{bindings.TieneDescuento.hints.label}:"
                                                                      id="plam23">
                                                <af:outputText value="#{bindings.TieneDescuento.inputValue}"
                                                               id="ot47"/>
                                             </af:panelLabelAndMessage>
                                             <af:panelLabelAndMessage label="#{viewcontrollerBundle.FECHA_ALTA}:"
                                                                      id="plam15">
                                                <af:outputText value="#{bindings.AnioAlta.inputValue}-#{bindings.PeriodoAlta.inputValue}"
                                                               id="ot43"/>
                                             </af:panelLabelAndMessage>
                                             <af:panelLabelAndMessage label="#{viewcontrollerBundle['NOM.VIGENCIA']}:"
                                                                      id="plam16">
                                                <af:outputText value="#{bindings.AnioVigencia1.inputValue}/#{bindings.PeriodoVigencia.inputValue}"
                                                               id="ot46"/>
                                             </af:panelLabelAndMessage>
                                             <af:selectOneChoice value="#{bindings.TipoPropiedad1.inputValue}"
                                                                 label="#{bindings.TipoPropiedad1.hints.label}:"
                                                                 required="#{bindings.TipoPropiedad1.hints.mandatory}"
                                                                 shortDesc="#{bindings.TipoPropiedad1.hints.tooltip}"
                                                                 id="soc8"
                                                                 readOnly="true">
                                                <f:selectItems value="#{bindings.TipoPropiedad1.items}"
                                                               id="si8"/>
                                             </af:selectOneChoice>
                                             <af:selectOneChoice value="#{bindings.TipoPredio1.inputValue}"
                                                                 label="#{bindings.TipoPredio1.hints.label}:"
                                                                 required="#{bindings.TipoPredio1.hints.mandatory}"
                                                                 shortDesc="#{bindings.TipoPredio1.hints.tooltip}"
                                                                 id="soc7"
                                                                 readOnly="true">
                                                <f:selectItems value="#{bindings.TipoPredio1.items}"
                                                               id="si6"/>
                                             </af:selectOneChoice>
                                             <af:panelLabelAndMessage label="#{bindings.Usos.hints.label}:"
                                                                      id="plam17">
                                                <af:outputText value="#{bindings.Usos.inputValue}"
                                                               id="ot62"/>
                                             </af:panelLabelAndMessage>
                                          </af:panelFormLayout>
                                          <af:showDetail disclosed="false"
                                                         id="sd1"
                                                         disclosedText="#{viewcontrollerBundle['TIT.OCULTAR']} #{viewcontrollerBundle['NOM.CARACTERISTICAS']} #{viewcontrollerBundle['NOM.PREDIO']}"
                                                         undisclosedText="#{viewcontrollerBundle['TIT.MOSTRAR']} #{viewcontrollerBundle['NOM.CARACTERISTICAS']} #{viewcontrollerBundle['NOM.PREDIO']}">
                                             <af:panelFormLayout id="pfl2"
                                                                 binding="#{DetallesPadronBean.caracteristicasPanel}"/>
                                          </af:showDetail>
                                       </af:panelGroupLayout>
                                       <af:panelGroupLayout id="pgl14"
                                                            layout="vertical"
                                                            valign="top"
                                                            halign="left">
                                          <af:panelFormLayout id="pfl10">
                                             <af:panelLabelAndMessage label="#{bindings.FolioReal.hints.label}:"
                                                                      id="plam28">
                                                <af:outputText value="#{bindings.FolioReal.inputValue}"
                                                               id="ot67"/>
                                             </af:panelLabelAndMessage>
                                             <af:panelLabelAndMessage label="#{bindings.FechaInscripcionFolio.hints.label}:"
                                                                      id="plam34">
                                                <af:outputText value="#{bindings.FechaInscripcionFolio.inputValue}"
                                                               id="ot64">
                                                   <af:convertDateTime pattern="#{bindings.FechaInscripcionFolio.format}"/>
                                                </af:outputText>
                                             </af:panelLabelAndMessage>
                                             <af:panelLabelAndMessage label="#{bindings.Curt.hints.label}:"
                                                                      id="plam31">
                                                <af:outputText value="#{bindings.Curt.inputValue}"
                                                               id="ot68"/>
                                             </af:panelLabelAndMessage>
                                             <af:panelLabelAndMessage label="#{bindings.Nivel.hints.label}:"
                                                                      id="plam27">
                                                <af:outputText value="#{bindings.Nivel.inputValue}"
                                                               id="ot71"/>
                                             </af:panelLabelAndMessage>
                                             <af:panelLabelAndMessage label="#{bindings.CentroideLatitud.hints.label}:"
                                                                      id="plam33">
                                                <af:outputText value="#{bindings.CentroideLatitud.inputValue}"
                                                               id="ot69"/>
                                             </af:panelLabelAndMessage>
                                             <af:panelLabelAndMessage label="#{bindings.CentroideLongitud.hints.label}:"
                                                                      id="plam32">
                                                <af:outputText value="#{bindings.CentroideLongitud.inputValue}"
                                                               id="ot65"/>
                                             </af:panelLabelAndMessage>
                                             <af:selectOneChoice value="#{bindings.ProgramaActual1.inputValue}"
                                                                 label="#{bindings.ProgramaActual1.hints.label}:"
                                                                 required="#{bindings.ProgramaActual1.hints.mandatory}"
                                                                 shortDesc="#{bindings.ProgramaActual1.hints.tooltip}"
                                                                 id="soc6"
                                                                 readOnly="true">
                                                <f:selectItems value="#{bindings.ProgramaActual1.items}"
                                                               id="si7"/>
                                             </af:selectOneChoice>
                                             <af:selectOneChoice value="#{bindings.Estatus1.inputValue}"
                                                                 label="#{bindings.Estatus1.hints.label}:"
                                                                 required="#{bindings.Estatus1.hints.mandatory}"
                                                                 shortDesc="#{bindings.Estatus1.hints.tooltip}"
                                                                 id="soc9"
                                                                 readOnly="true">
                                                <f:selectItems value="#{bindings.Estatus1.items}"
                                                               id="si9"/>
                                             </af:selectOneChoice>
                                             <af:panelLabelAndMessage label="#{bindings.PeriodicidadAdeudo.hints.label}:"
                                                                      id="plam30">
                                                <af:outputText value="#{bindings.PeriodicidadAdeudo.inputValue}"
                                                               id="ot72">
                                                   <af:convertNumber groupingUsed="false"
                                                                     pattern="#{bindings.PeriodicidadAdeudo.format}"/>
                                                </af:outputText>
                                             </af:panelLabelAndMessage>
                                          </af:panelFormLayout>
                                       </af:panelGroupLayout>
                                    </af:panelGroupLayout>
                                 </af:panelGroupLayout>
                                 <af:showDetail disclosed="false" id="sd2"
                                                disclosedText="#{viewcontrollerBundle['TIT.OCULTAR']}  #{viewcontrollerBundle['NOM.COLINDANCIAS']}"
                                                undisclosedText="#{viewcontrollerBundle['TIT.MOSTRAR']}  #{viewcontrollerBundle['NOM.COLINDANCIAS']}">
                                    <af:table value="#{bindings.PrColindanciasVVO11.collectionModel}"
                                              var="row"
                                              rows="#{bindings.PrColindanciasVVO11.rangeSize}"
                                              emptyText="#{bindings.PrColindanciasVVO11.viewable ? viewcontrollerBundle['SYS.SIN_DATOS'] : viewcontrollerBundle['SYS.ACCESO_RESTRINGIDO']}"
                                              fetchSize="#{bindings.PrColindanciasVVO11.rangeSize}"
                                              rowBandingInterval="0"
                                              filterModel="#{bindings.PrColindanciasVVO1Query.queryDescriptor}"
                                              queryListener="#{bindings.PrColindanciasVVO1Query.processQuery}"
                                              filterVisible="false"
                                              varStatus="vs"
                                              selectedRowKeys="#{bindings.PrColindanciasVVO11.collectionModel.selectedRow}"
                                              selectionListener="#{bindings.PrColindanciasVVO11.collectionModel.makeCurrent}"
                                              rowSelection="single" id="t5"
                                              styleClass="AFStretchWidth"
                                              columnStretching="column:c24"
                                              inlineStyle="height:84px;">
                                       <af:column sortProperty="Rownum"
                                                  filterable="true"
                                                  sortable="false"
                                                  headerText="#{bindings.PrColindanciasVVO11.hints.Rownum.label}"
                                                  id="c26">
                                          <af:outputText value="#{row.Rownum}"
                                                         id="ot34">
                                             <af:convertNumber groupingUsed="false"
                                                               pattern="#{bindings.PrColindanciasVVO11.hints.Rownum.format}"/>
                                          </af:outputText>
                                       </af:column>
                                       <af:column sortProperty="Rumbo"
                                                  sortable="false"
                                                  headerText="#{bindings.PrColindanciasVVO1.hints.Rumbo.label}"
                                                  id="column3">
                                          <af:selectOneChoice value="#{row.bindings.Rumbo.inputValue}"
                                                              label="#{row.bindings.Rumbo.label}"
                                                              required="#{bindings.PrColindanciasVVO1.hints.Rumbo.mandatory}"
                                                              shortDesc="#{bindings.PrColindanciasVVO1.hints.Rumbo.tooltip}"
                                                              id="soc5"
                                                              readOnly="true">
                                             <f:selectItems value="#{row.bindings.Rumbo.items}"
                                                            id="si5"/>
                                          </af:selectOneChoice>
                                       </af:column>
                                       <af:column sortProperty="Distancia"
                                                  filterable="true"
                                                  sortable="false"
                                                  headerText="#{bindings.PrColindanciasVVO11.hints.Distancia.label}"
                                                  id="c22">
                                          <af:outputText value="#{row.Distancia}"
                                                         id="ot38">
                                             <af:convertNumber groupingUsed="false"
                                                               pattern="#{bindings.PrColindanciasVVO11.hints.Distancia.format}"/>
                                          </af:outputText>
                                       </af:column>
                                       <af:column sortProperty="UnidadMedida"
                                                  filterable="true"
                                                  sortable="false"
                                                  headerText="#{bindings.PrColindanciasVVO11.hints.UnidadMedida.label}"
                                                  id="c25">
                                          <af:outputText value="#{row.UnidadMedida}"
                                                         id="ot37"/>
                                       </af:column>
                                       <af:column sortProperty="DescripcionColindancia"
                                                  filterable="true"
                                                  sortable="false"
                                                  headerText="#{bindings.PrColindanciasVVO11.hints.DescripcionColindancia.label}"
                                                  id="c24">
                                          <af:outputText value="#{row.DescripcionColindancia}"
                                                         id="ot39"/>
                                       </af:column>
                                       <af:column sortProperty="FechaCreacion"
                                                  filterable="true"
                                                  sortable="false"
                                                  headerText="#{bindings.PrColindanciasVVO11.hints.FechaCreacion.label}"
                                                  id="c23">
                                          <f:facet name="filter">
                                             <af:inputDate value="#{vs.filterCriteria.FechaCreacion}"
                                                           id="id3"/>
                                          </f:facet>
                                          <af:outputText value="#{row.FechaCreacion}"
                                                         id="ot40">
                                             <af:convertDateTime pattern="#{bindings.PrColindanciasVVO11.hints.FechaCreacion.format}"/>
                                          </af:outputText>
                                       </af:column>
                                    </af:table>
                                 </af:showDetail>
                                 <af:showDetail disclosed="false" id="sd3"
                                                disclosedText="#{viewcontrollerBundle['TIT.OCULTAR']}  #{viewcontrollerBundle['NOM.OTROS_DUENIOS']}"
                                                undisclosedText="#{viewcontrollerBundle['TIT.MOSTRAR']} #{viewcontrollerBundle['NOM.OTROS_DUENIOS']}">
                                    <af:table value="#{bindings.PcPersonasVVO1.collectionModel}"
                                              var="row"
                                              rows="#{bindings.PcPersonasVVO1.rangeSize}"
                                              emptyText="#{bindings.PcPersonasVVO1.viewable ? viewcontrollerBundle['SYS.SIN_DATOS'] : viewcontrollerBundle['SYS.ACCESO_RESTRINGIDO']}"
                                              fetchSize="#{bindings.PcPersonasVVO1.rangeSize}"
                                              rowBandingInterval="0"
                                              filterModel="#{bindings.PcPersonasVVO1Query.queryDescriptor}"
                                              queryListener="#{bindings.PcPersonasVVO1Query.processQuery}"
                                              filterVisible="false"
                                              varStatus="vs"
                                              selectedRowKeys="#{bindings.PcPersonasVVO1.collectionModel.selectedRow}"
                                              selectionListener="#{bindings.PcPersonasVVO1.collectionModel.makeCurrent}"
                                              rowSelection="single" id="t4"
                                              styleClass="AFStretchWidth"
                                              inlineStyle="height:108px;"
                                              columnStretching="column:c16">
                                       <af:column sortProperty="PropietarioRazonSocial"
                                                  filterable="true"
                                                  sortable="false"
                                                  headerText="#{bindings.PcPersonasVVO1.hints.PropietarioRazonSocial.label}"
                                                  id="c16">
                                          <af:outputText value="#{row.PropietarioRazonSocial}"
                                                         id="ot29"/>
                                       </af:column>
                                       <af:column sortProperty="Rfc"
                                                  filterable="true"
                                                  sortable="false"
                                                  headerText="#{bindings.PcPersonasVVO1.hints.Rfc.label}"
                                                  id="c19">
                                          <af:outputText value="#{row.Rfc}"
                                                         id="ot27"/>
                                       </af:column>
                                       <af:column sortProperty="Rol"
                                                  filterable="true"
                                                  sortable="false"
                                                  headerText="#{bindings.PcPersonasVVO1.hints.Rol.label}"
                                                  id="c17">
                                          <af:outputText value="#{row.Rol}"
                                                         id="ot16"/>
                                       </af:column>
                                       <af:column sortProperty="Curp"
                                                  filterable="true"
                                                  sortable="false"
                                                  headerText="#{bindings.PcPersonasVVO1.hints.Curp.label}"
                                                  id="c20">
                                          <af:outputText value="#{row.Curp}"
                                                         id="ot28"/>
                                       </af:column>
                                       <af:column sortProperty="Porcentaje"
                                                  filterable="true"
                                                  sortable="false"
                                                  headerText="#{bindings.PcPersonasVVO1.hints.Porcentaje.label}"
                                                  id="c18">
                                          <af:outputText value="#{row.Porcentaje}"
                                                         id="ot14">
                                             <af:convertNumber groupingUsed="false"
                                                               pattern="#{bindings.PcPersonasVVO1.hints.Porcentaje.format}"/>
                                          </af:outputText>
                                       </af:column>
                                    </af:table>
                                 </af:showDetail>
                                 <f:facet name="legend">
                                    <af:outputFormatted value="#{viewcontrollerBundle['TIP.DATOS_PREDIO']}"
                                                        id="of6"
                                                        styleUsage="pageStamp"/>
                                 </f:facet>
                              </af:panelHeader>
                              <af:spacer width="10" height="10" id="s4"/>
                              <af:panelHeader text="#{viewcontrollerBundle['TIT.VALORES_PREDIO']}"
                                              id="ph2">
                                 <af:spacer width="10" height="10"
                                            id="spacer7"/>
                                 <af:showDetail disclosed="false" id="sd4"
                                                disclosedText="#{viewcontrollerBundle['TIT.OCULTAR']} #{viewcontrollerBundle['NOM.CARACTERISTICAS']} #{viewcontrollerBundle['NOM.ASENTAMIENTO']}"
                                                undisclosedText="#{viewcontrollerBundle['TIT.MOSTRAR']} #{viewcontrollerBundle['NOM.CARACTERISTICAS']} #{viewcontrollerBundle['NOM.ASENTAMIENTO']}">
                                    <af:panelFormLayout id="pfl8"
                                                        binding="#{DetallesPadronBean.caracteristicasAsentamientosPanel}">
                                       <f:facet name="footer"/>
                                    </af:panelFormLayout>
                                 </af:showDetail>
                                 <f:facet name="legend">
                                    <af:outputFormatted value="#{viewcontrollerBundle['TIP.VALORES_PREDIO']}"
                                                        id="outputFormatted6"
                                                        styleUsage="pageStamp"/>
                                 </f:facet>
                              </af:panelHeader>
                              <af:spacer width="10" height="10" id="s5"/>
                              <af:panelHeader text="#{viewcontrollerBundle['TIT.ULTIMO_MOVIMIENTO']}"
                                              id="ph3">
                                 <af:spacer width="10" height="10"
                                            id="spacer8"/>
                                 <af:panelGroupLayout id="pgl7" halign="center"
                                                      layout="horizontal">
                                    <af:panelGroupLayout id="pgl10"
                                                         halign="center"
                                                         layout="vertical">
                                       <af:panelLabelAndMessage label="#{bindings.FechaMovimiento.hints.label}:"
                                                                id="plam6">
                                          <af:outputText value="#{bindings.FechaMovimiento.inputValue}"
                                                         id="ot36">
                                             <af:convertDateTime pattern="#{bindings.FechaMovimiento.format}"/>
                                          </af:outputText>
                                       </af:panelLabelAndMessage>
                                       <af:panelLabelAndMessage label="#{bindings.Nombre.hints.label}:"
                                                                id="plam8">
                                          <af:outputText value="#{bindings.Nombre.inputValue}"
                                                         id="ot31"/>
                                       </af:panelLabelAndMessage>
                                    </af:panelGroupLayout>
                                    <af:spacer width="20" height="20" id="s8"/>
                                    <af:panelGroupLayout id="pgl11"
                                                         halign="center"
                                                         layout="vertical">
                                       <af:panelLabelAndMessage label="#{bindings.MovSerie.hints.label}:"
                                                                id="plam10">
                                          <af:outputText value="#{bindings.MovSerie.inputValue} - #{bindings.MovId.inputValue}"
                                                         id="ot32">
                                             <af:convertNumber groupingUsed="false"
                                                               pattern="#{bindings.MovId.format}"/>
                                          </af:outputText>
                                       </af:panelLabelAndMessage>
                                       <af:panelLabelAndMessage label="#{bindings.AnioVigencia.hints.label}:"
                                                                id="plam11">
                                          <af:outputText value="#{bindings.AnioVigencia.inputValue}/#{bindings.PeriodoVigencia.inputValue}"
                                                         id="ot33">
                                             <af:convertNumber groupingUsed="false"
                                                               pattern="#{bindings.AnioVigencia.format}"/>
                                          </af:outputText>
                                       </af:panelLabelAndMessage>
                                    </af:panelGroupLayout>
                                 </af:panelGroupLayout>
                                 <f:facet name="legend">
                                    <af:outputFormatted value="#{viewcontrollerBundle['TIP.ULTIMO_MOVIMIENTO']}"
                                                        id="outputFormatted7"
                                                        styleUsage="pageStamp"/>
                                 </f:facet>
                              </af:panelHeader>
                              <af:spacer width="10" height="10" id="s6"/>
                              <af:panelHeader text="#{viewcontrollerBundle['TIT.ULTIMO_PAGO']}"
                                              id="ph4">
                                 <af:spacer width="10" height="10"
                                            id="spacer9"/>
                                 <af:panelGroupLayout id="pgl6" halign="center"
                                                      layout="scroll">
                                    <af:panelFormLayout id="pfl5" rows="3"
                                                        maxColumns="2">
                                       <af:panelLabelAndMessage label="#{bindings.Fecha.hints.label}:"
                                                                id="plam5">
                                          <af:outputText value="#{bindings.Fecha.inputValue}"
                                                         id="ot17">
                                             <af:convertDateTime pattern="#{bindings.Fecha.format}"/>
                                          </af:outputText>
                                       </af:panelLabelAndMessage>
                                       <af:panelLabelAndMessage label="#{bindings.Periodo.hints.label}:"
                                                                id="plam7">
                                          <af:outputText value="#{bindings.Periodo.inputValue}"
                                                         id="ot21">
                                             <af:convertNumber groupingUsed="false"
                                                               pattern="#{bindings.Periodo.format}"/>
                                          </af:outputText>
                                       </af:panelLabelAndMessage>
                                       <af:panelLabelAndMessage label="#{bindings.Cajero.hints.label}:"
                                                                id="plam1">
                                          <af:outputText value="#{bindings.Cajero.inputValue}"
                                                         id="ot25"/>
                                       </af:panelLabelAndMessage>
                                       <af:panelLabelAndMessage label="#{bindings.TipoPago.hints.label}:"
                                                                id="plam2">
                                          <af:outputText value="#{bindings.TipoPago.inputValue}"
                                                         id="ot26"/>
                                       </af:panelLabelAndMessage>
                                       <af:panelLabelAndMessage label="#{bindings.SerieFolio.hints.label}:"
                                                                id="plam4">
                                          <af:outputText value="#{bindings.SerieFolio.inputValue} - #{bindings.IdFolio.inputValue}"
                                                         id="ot18">
                                             <af:convertNumber groupingUsed="false"
                                                               pattern="#{bindings.SerieFolio.format}"/>
                                          </af:outputText>
                                       </af:panelLabelAndMessage>
                                       <!--af:panelLabelAndMessage label="#{bindings.IdFolio.hints.label}"
                                                             id="plam6">
                                       <af:outputText value="#{bindings.IdFolio.inputValue}"
                                                      id="ot14">
                                          <af:convertNumber groupingUsed="false"
                                                            pattern="#{bindings.IdFolio.format}"/>
                                       </af:outputText>
                                    </af:panelLabelAndMessage-->
                                       <af:panelLabelAndMessage label="#{bindings.Oficina.hints.label}:"
                                                                id="plam3">
                                          <af:outputText value="#{bindings.Oficina.inputValue}"
                                                         id="ot15"/>
                                       </af:panelLabelAndMessage>
                                       <af:panelLabelAndMessage label="#{bindings.SerieNumTrans.hints.label}:"
                                                                id="plam9">
                                          <af:outputText value="#{bindings.SerieNumTrans.inputValue} - #{bindings.IdNumTrans.inputValue}"
                                                         id="ot19">
                                             <af:convertNumber groupingUsed="false"
                                                               pattern="#{bindings.SerieNumTrans.format}"/>
                                          </af:outputText>
                                       </af:panelLabelAndMessage>
                                       <!--af:panelLabelAndMessage label="#{bindings.IdNumTrans.hints.label}"
                                                             id="plam8">
                                       <af:outputText value="#{bindings.IdNumTrans.inputValue}"
                                                      id="ot16">
                                          <af:convertNumber groupingUsed="false"
                                                            pattern="#{bindings.IdNumTrans.format}"/>
                                       </af:outputText>
                                    </af:panelLabelAndMessage-->
                                    </af:panelFormLayout>
                                 </af:panelGroupLayout>
                                 <f:facet name="legend">
                                    <af:outputFormatted value="#{viewcontrollerBundle['TIP.ULTIMO_PAGO']}"
                                                        id="outputFormatted8"
                                                        styleUsage="pageStamp"/>
                                 </f:facet>
                              </af:panelHeader>
                           </af:panelGroupLayout>
                        </af:showDetailItem>
                        <af:showDetailItem text="#{viewcontrollerBundle['TIT.CARACTERISTICAS_TERRENO']}"
                                           id="showDetailItem1"
                                           disclosureListener="#{DetallesPadronBean.despliegaTabs}"
                                           binding="#{DetallesPadronBean.showDetailItemCaractTerreno}"
                                           inlineStyle="height:350px; "
                                           styleClass="AFStretchWidth">
                           <af:panelHeader text="#{viewcontrollerBundle['TIT.CARACTERISTICAS_TERRENO']}"
                                           id="panelHeader2">
                              <f:facet name="legend">
                                 <af:outputFormatted value="#{viewcontrollerBundle['TIP.CARACTERISTICAS_TERRENO']}"
                                                     id="outputFormatted1"
                                                     styleUsage="pageStamp"/>
                              </f:facet>
                              <af:spacer width="10" height="10" id="spacer1"/>
                              <af:table value="#{bindings.PrPrediosComponentesVVO12.collectionModel}"
                                        var="row"
                                        rows="#{bindings.PrPrediosComponentesVVO12.rangeSize}"
                                        emptyText="#{bindings.PrPrediosComponentesVVO12.viewable ? viewcontrollerBundle['SYS.SIN_DATOS'] : viewcontrollerBundle['SYS.ACCESO_RESTRINGIDO']}"
                                        fetchSize="#{bindings.PrPrediosComponentesVVO12.rangeSize}"
                                        rowBandingInterval="0"
                                        filterModel="#{bindings.PrPrediosComponentesVVO1Query.queryDescriptor}"
                                        queryListener="#{bindings.PrPrediosComponentesVVO1Query.processQuery}"
                                        filterVisible="true" varStatus="vs"
                                        selectedRowKeys="#{bindings.PrPrediosComponentesVVO12.collectionModel.selectedRow}"
                                        id="t6"
                                        binding="#{DetallesPadronBean.tblPredCompTerreno}"
                                        styleClass="AFStretchWidth"
                                        columnStretching="last"
                                        rowSelection="single">
                                 <af:column headerText="#{viewcontrollerBundle['CON.DETALLES']}"
                                            width="80" id="c21">
                                    <af:commandLink text="#{viewcontrollerBundle.VER_DETALLES}"
                                                    id="cl2"
                                                    actionListener="#{DetallesPadronBean.caractTerrenoActionListener}">
                                       <af:setPropertyListener type="action"
                                                               from="#{row.Identificador}"
                                                               to="#{bindings.selectedRow.inputValue}"/>
                                    </af:commandLink>
                                 </af:column>
                                 <af:column sortProperty="Tipo" sortable="false"
                                            headerText="#{bindings.PrPrediosComponentesVVO1.hints.Tipo.label}"
                                            filterable="true" id="column2">
                                    <af:selectOneChoice value="#{row.bindings.Tipo.inputValue}"
                                                        label="#{row.bindings.Tipo.label}"
                                                        required="#{bindings.PrPrediosComponentesVVO1.hints.Tipo.mandatory}"
                                                        shortDesc="#{bindings.PrPrediosComponentesVVO1.hints.Tipo.tooltip}"
                                                        id="soc3"
                                                        readOnly="true">
                                       <f:selectItems value="#{row.bindings.Tipo.items}"
                                                      id="si3"/>
                                    </af:selectOneChoice>
                                 </af:column>
                                 <af:column sortProperty="SuperficieComponente"
                                            filterable="true" sortable="false"
                                            headerText="#{bindings.PrPrediosComponentesVVO12.hints.SuperficieComponente.label}"
                                            id="c45">
                                    <af:outputText value="#{row.SuperficieComponente}"
                                                   id="ot56">
                                       <af:convertNumber groupingUsed="false"
                                                         pattern="#{bindings.PrPrediosComponentesVVO12.hints.SuperficieComponente.format}"/>
                                    </af:outputText>
                                 </af:column>
                                 <af:column sortProperty="Giro"
                                            filterable="true" sortable="false"
                                            headerText="#{bindings.PrPrediosComponentesVVO12.hints.Giro.label}"
                                            id="c46">
                                    <af:outputText value="#{row.Giro}"
                                                   id="ot55"/>
                                 </af:column>
                                 <af:column sortProperty="ValorTotal"
                                            filterable="true" sortable="false"
                                            headerText="#{bindings.PrPrediosComponentesVVO12.hints.ValorTotal.label}"
                                            id="c42">
                                    <af:outputText value="#{row.ValorTotal}"
                                                   id="ot58">
                                       <af:convertNumber groupingUsed="false"
                                                         pattern="#{bindings.PrPrediosComponentesVVO12.hints.ValorTotal.format}"/>
                                    </af:outputText>
                                 </af:column>
                              </af:table>
                              <af:spacer width="10" height="10" id="spacer6"/>
                              <af:panelGroupLayout id="pgl16" layout="scroll"
                                                   inlineStyle="height:211px;">
                                 <af:panelFormLayout id="pg1"
                                                     binding="#{DetallesPadronBean.pnlCaractCompTerreno}"/>
                              </af:panelGroupLayout>
                           </af:panelHeader>
                        </af:showDetailItem>
                        <af:showDetailItem text="#{viewcontrollerBundle['TIT.CARACYERISTICAS_CONSTRUCCION']}"
                                           id="showDetailItem2"
                                           disclosureListener="#{DetallesPadronBean.despliegaTabs}"
                                           binding="#{DetallesPadronBean.showDetailItemCaractConst}"
                                           styleClass="AFStretchWidth"
                                           inlineStyle="height:350px; ">
                           <af:panelHeader text="#{viewcontrollerBundle['TIT.CARACT_CONSTRUCCION']}"
                                           id="panelHeader3"
                                           inlineStyle="height:56px;">
                              <f:facet name="legend">
                                 <af:outputFormatted value="#{viewcontrollerBundle['TIP.CARACTERISTICAS_CONSTRUCCION']}"
                                                     id="outputFormatted2"
                                                     styleUsage="pageStamp"/>
                              </f:facet>
                              <af:spacer width="10" height="10" id="s9"/>
                              <af:table value="#{bindings.PrPrediosComponentesVVO11.collectionModel}"
                                        var="row"
                                        rows="#{bindings.PrPrediosComponentesVVO11.rangeSize}"
                                        emptyText="#{bindings.PrPrediosComponentesVVO11.viewable ? viewcontrollerBundle['SYS.SIN_DATOS'] : viewcontrollerBundle['SYS.ACCESO_RESTRINGIDO']}"
                                        fetchSize="#{bindings.PrPrediosComponentesVVO11.rangeSize}"
                                        rowBandingInterval="0"
                                        filterModel="#{bindings.PrPrediosComponentesVVO1Query.queryDescriptor}"
                                        queryListener="#{bindings.PrPrediosComponentesVVO1Query.processQuery}"
                                        filterVisible="true" varStatus="vs"
                                        selectedRowKeys="#{bindings.PrPrediosComponentesVVO11.collectionModel.selectedRow}"
                                        id="t3"
                                        binding="#{DetallesPadronBean.tblPredCompConstruccion}"
                                        inlineStyle="height:100.0px;"
                                        styleClass="AFStretchWidth"
                                        columnStretching="last"
                                        rowSelection="single">
                                 <af:column headerText="#{viewcontrollerBundle['CON.DETALLES']}"
                                            width="80" id="c15">
                                    <af:commandLink text="#{viewcontrollerBundle.VER_DETALLES}"
                                                    id="cl3"
                                                    actionListener="#{DetallesPadronBean.caractConstruccionActionListener}">
                                       <af:setPropertyListener type="action"
                                                               from="#{row.Identificador}"
                                                               to="#{bindings.selectedRow.inputValue}"/>
                                    </af:commandLink>
                                 </af:column>
                                 <af:column sortProperty="Tipo" sortable="false"
                                            headerText="#{bindings.PrPrediosComponentesVVO1.hints.Tipo.label}"
                                            filterable="true" id="c6">
                                    <af:selectOneChoice value="#{row.bindings.Tipo.inputValue}"
                                                        label="#{row.bindings.Tipo.label}"
                                                        required="#{bindings.PrPrediosComponentesVVO1.hints.Tipo.mandatory}"
                                                        shortDesc="#{bindings.PrPrediosComponentesVVO1.hints.Tipo.tooltip}"
                                                        id="soc4"
                                                        readOnly="true">
                                       <f:selectItems value="#{row.bindings.Tipo.items}"
                                                      id="si4"/>
                                    </af:selectOneChoice>
                                 </af:column>
                                 <af:column sortProperty="SuperficieComponente"
                                            filterable="true" sortable="false"
                                            headerText="#{bindings.PrPrediosComponentesVVO11.hints.SuperficieComponente.label}"
                                            id="c31" width="105">
                                    <af:outputText value="#{row.SuperficieComponente}"
                                                   id="ot44">
                                       <af:convertNumber groupingUsed="false"
                                                         pattern="#{bindings.PrPrediosComponentesVVO11.hints.SuperficieComponente.format}"/>
                                    </af:outputText>
                                 </af:column>
                                 <af:column sortProperty="Giro"
                                            filterable="true" sortable="false"
                                            headerText="#{bindings.PrPrediosComponentesVVO11.hints.Giro.label}"
                                            id="c28" width="104">
                                    <af:outputText value="#{row.Giro}"
                                                   id="ot22"/>
                                 </af:column>
                                 <af:column sortProperty="ValorTotal"
                                            filterable="true" sortable="false"
                                            headerText="#{bindings.PrPrediosComponentesVVO11.hints.ValorTotal.label}"
                                            id="c14" width="106">
                                    <af:outputText value="#{row.ValorTotal}"
                                                   id="ot20">
                                       <af:convertNumber groupingUsed="false"
                                                         pattern="#{bindings.PrPrediosComponentesVVO11.hints.ValorTotal.format}"/>
                                    </af:outputText>
                                 </af:column>
                              </af:table>
                              <af:spacer width="10" height="10" id="spacer2"/>
                              <af:panelGroupLayout id="pgl17" layout="scroll"
                                                   inlineStyle="height:210px;">
                                 <af:panelFormLayout id="pfl7"
                                                     binding="#{DetallesPadronBean.pnlCaractCompConstruccion}"/>
                              </af:panelGroupLayout>
                           </af:panelHeader>
                        </af:showDetailItem>
                        <af:showDetailItem text="#{viewcontrollerBundle['TIT.HISTORIAL_MOVIMIENTOS']}"
                                           id="showDetailItem3"
                                           disclosureListener="#{DetallesPadronBean.despliegaTabs}"
                                           binding="#{DetallesPadronBean.showDetailItemHistMov}"
                                           styleClass="AFStretchWidth "
                                           inlineStyle="height:700px; ">
                           <af:panelHeader text="#{viewcontrollerBundle['TIT.HISTORIAL_MOVIMIENTOS']}"
                                           id="panelHeader4">
                              <f:facet name="legend">
                                 <af:outputFormatted value="#{viewcontrollerBundle['TIP.HISTORIAL_MOVIMIENTOS']}"
                                                     id="outputFormatted3"
                                                     styleUsage="pageStamp"/>
                              </f:facet>
                              <af:spacer width="10" height="10" id="spacer3"/>
                              <af:panelGroupLayout id="pgl1"
                                                   styleClass="AFStretchWidth">
                                 <af:table value="#{bindings.PrHistorialMovimientosVVO1.collectionModel}"
                                           var="row"
                                           rows="#{bindings.PrHistorialMovimientosVVO1.rangeSize}"
                                           emptyText="#{bindings.PrHistorialMovimientosVVO1.viewable ? viewcontrollerBundle['SYS.SIN_DATOS'] : viewcontrollerBundle['SYS.ACCESO_RESTRINGIDO']}"
                                           fetchSize="#{bindings.PrHistorialMovimientosVVO1.rangeSize}"
                                           rowBandingInterval="0" id="t1"
                                           styleClass="AFStretchWidth"
                                           columnStretching="column:c3">
                                    <af:column sortable="false"
                                               headerText="#{bindings.PrHistorialMovimientosVVO1.hints.FechaMovimiento.label}"
                                               id="c2">
                                       <af:outputText value="#{row.FechaMovimiento}"
                                                      id="ot8">
                                          <af:convertDateTime pattern="#{bindings.PrHistorialMovimientosVVO1.hints.FechaMovimiento.format}"/>
                                       </af:outputText>
                                    </af:column>
                                    <af:column sortable="false"
                                               headerText="#{bindings.PrHistorialMovimientosVVO1.hints.Nombre.label}"
                                               id="c4" width="100">
                                       <af:outputText value="#{row.Nombre}"
                                                      id="ot7"/>
                                    </af:column>
                                    <af:column sortable="false"
                                               headerText="#{bindings.PrHistorialMovimientosVVO1.hints.Certificado.label}"
                                               id="c8">
                                       <af:outputText value="#{row.Certificado}"
                                                      id="ot3"/>
                                    </af:column>
                                    <af:column sortable="false"
                                               headerText="#{bindings.PrHistorialMovimientosVVO1.hints.Observaciones.label}"
                                               id="c3">
                                       <af:outputText value="#{row.Observaciones}"
                                                      id="ot4"/>
                                    </af:column>
                                    <af:column id="c7" sortable="false"
                                               headerText="#{viewcontrollerBundle['NOM.CALIFICACION']}">
                                       <af:outputText value="#{row.ValorTotalCatastral}"
                                                      id="ot1"/>
                                    </af:column>
                                    <af:column sortProperty="EstatusMovimiento"
                                               sortable="false"
                                               headerText="#{bindings.PrHistorialMovimientosVVO11.hints.EstatusMovimiento.label}"
                                               id="column1">
                                       <af:selectOneChoice value="#{row.bindings.EstatusMovimiento.inputValue}"
                                                           label="#{row.bindings.EstatusMovimiento.label}"
                                                           required="#{bindings.PrHistorialMovimientosVVO11.hints.EstatusMovimiento.mandatory}"
                                                           shortDesc="#{bindings.PrHistorialMovimientosVVO11.hints.EstatusMovimiento.tooltip}"
                                                           id="soc2"
                                                           readOnly="true">
                                          <f:selectItems value="#{row.bindings.EstatusMovimiento.items}"
                                                         id="si2"/>
                                       </af:selectOneChoice>
                                    </af:column>
                                    <af:column sortable="false"
                                               headerText="#{bindings.PrHistorialMovimientosVVO1.hints.FechaAvaluo.label}"
                                               id="c5">
                                       <af:outputText value="#{row.FechaAvaluo}"
                                                      id="ot6">
                                          <af:convertDateTime pattern="#{bindings.PrHistorialMovimientosVVO1.hints.FechaAvaluo.format}"/>
                                       </af:outputText>
                                    </af:column>
                                    <af:column sortable="false"
                                               headerText="#{viewcontrollerBundle['NOM.VIGENCIA']}"
                                               id="c1">
                                       <af:outputText value="#{row.AnioVigencia} #{row.AnioVigencia eq null ? '':'/'} #{row.PeriodoVigencia}"
                                                      id="ot2"></af:outputText>
                                    </af:column>
                                    <f:facet name="detailStamp">
                                       <af:panelGroupLayout id="pgl5"
                                                            styleClass="AFStretchWidth"
                                                            layout="vertical"
                                                            halign="center">
                                          <af:panelGroupLayout id="pgl3"
                                                               layout="horizontal"
                                                               valign="top"
                                                               halign="center">
                                             <af:panelFormLayout id="pfl4">
                                                <af:inputText value="#{row.bindings.SerieAvaluo.inputValue} #{row.bindings.SerieAvaluo.inputValue eq null ? '':'-'} #{row.bindings.IdentificadorAvaluo.inputValue}"
                                                              label="#{viewcontrollerBundle['NOM.FOLIO']}:"
                                                              id="it19">
                                                   <f:validator binding="#{row.bindings.SerieAvaluo.validator}"/>
                                                </af:inputText>
                                                <af:inputDate value="#{row.bindings.FechaAvaluo.inputValue}"
                                                              label="#{bindings.PrHistorialMovimientosVVO1.hints.FechaAvaluo.label}:"
                                                              required="#{bindings.PrHistorialMovimientosVVO1.hints.FechaAvaluo.mandatory}"
                                                              shortDesc="#{bindings.PrHistorialMovimientosVVO1.hints.FechaAvaluo.tooltip}"
                                                              id="id1">
                                                   <f:validator binding="#{row.bindings.FechaAvaluo.validator}"/>
                                                   <af:convertDateTime pattern="#{bindings.PrHistorialMovimientosVVO1.hints.FechaAvaluo.format}"/>
                                                </af:inputDate>
                                             </af:panelFormLayout>
                                          </af:panelGroupLayout>
                                          <af:spacer width="10" height="10"
                                                     id="s7"/>
                                          <af:outputText value="#{viewcontrollerBundle['TIT.VALORES2']}"
                                                         id="ot9"/>
                                          <af:panelGroupLayout id="pgl2"
                                                               layout="horizontal"
                                                               valign="top"
                                                               halign="center">
                                             <af:panelFormLayout id="pfl6">
                                                <af:inputText value="#{row.bindings.ValorCalle.inputValue}"
                                                              label="#{bindings.PrHistorialMovimientosVVO1.hints.ValorCalle.label}:"
                                                              required="#{bindings.PrHistorialMovimientosVVO1.hints.ValorCalle.mandatory}"
                                                              columns="#{bindings.PrHistorialMovimientosVVO1.hints.ValorCalle.displayWidth}"
                                                              maximumLength="#{bindings.PrHistorialMovimientosVVO1.hints.ValorCalle.precision}"
                                                              shortDesc="#{bindings.PrHistorialMovimientosVVO1.hints.ValorCalle.tooltip}"
                                                              id="it11">
                                                   <f:validator binding="#{row.bindings.ValorCalle.validator}"/>
                                                   <af:convertNumber groupingUsed="false"
                                                                     pattern="#{bindings.PrHistorialMovimientosVVO1.hints.ValorCalle.format}"/>
                                                </af:inputText>
                                                <af:inputText value="#{row.bindings.ValorTotalTerreno.inputValue}"
                                                              label="#{bindings.PrHistorialMovimientosVVO1.hints.ValorTotalTerreno.label}:"
                                                              required="#{bindings.PrHistorialMovimientosVVO1.hints.ValorTotalTerreno.mandatory}"
                                                              columns="#{bindings.PrHistorialMovimientosVVO1.hints.ValorTotalTerreno.displayWidth}"
                                                              maximumLength="#{bindings.PrHistorialMovimientosVVO1.hints.ValorTotalTerreno.precision}"
                                                              shortDesc="#{bindings.PrHistorialMovimientosVVO1.hints.ValorTotalTerreno.tooltip}"
                                                              id="it6">
                                                   <f:validator binding="#{row.bindings.ValorTotalTerreno.validator}"/>
                                                   <af:convertNumber groupingUsed="false"
                                                                     pattern="#{bindings.PrHistorialMovimientosVVO1.hints.ValorTotalTerreno.format}"/>
                                                </af:inputText>
                                                <af:inputText value="#{row.bindings.FactorMeritoDemerito.inputValue}"
                                                              label="#{bindings.PrHistorialMovimientosVVO1.hints.FactorMeritoDemerito.label}:"
                                                              required="#{bindings.PrHistorialMovimientosVVO1.hints.FactorMeritoDemerito.mandatory}"
                                                              columns="#{bindings.PrHistorialMovimientosVVO1.hints.FactorMeritoDemerito.displayWidth}"
                                                              maximumLength="#{bindings.PrHistorialMovimientosVVO1.hints.FactorMeritoDemerito.precision}"
                                                              shortDesc="#{bindings.PrHistorialMovimientosVVO1.hints.FactorMeritoDemerito.tooltip}"
                                                              id="it5">
                                                   <f:validator binding="#{row.bindings.FactorMeritoDemerito.validator}"/>
                                                   <af:convertNumber groupingUsed="false"
                                                                     pattern="#{bindings.PrHistorialMovimientosVVO1.hints.FactorMeritoDemerito.format}"/>
                                                </af:inputText>
                                                <af:inputText value="#{row.bindings.SuperficieTotalTerreno.inputValue}"
                                                              label="#{bindings.PrHistorialMovimientosVVO1.hints.SuperficieTotalTerreno.label}:"
                                                              required="#{bindings.PrHistorialMovimientosVVO1.hints.SuperficieTotalTerreno.mandatory}"
                                                              columns="#{bindings.PrHistorialMovimientosVVO1.hints.SuperficieTotalTerreno.displayWidth}"
                                                              maximumLength="#{bindings.PrHistorialMovimientosVVO1.hints.SuperficieTotalTerreno.precision}"
                                                              shortDesc="#{bindings.PrHistorialMovimientosVVO1.hints.SuperficieTotalTerreno.tooltip}"
                                                              id="it4">
                                                   <f:validator binding="#{row.bindings.SuperficieTotalTerreno.validator}"/>
                                                   <af:convertNumber groupingUsed="false"
                                                                     pattern="#{bindings.PrHistorialMovimientosVVO1.hints.SuperficieTotalTerreno.format}"/>
                                                </af:inputText>
                                                <af:inputText value="#{row.bindings.AcumuladoPeriodos.inputValue}"
                                                              label="#{bindings.PrHistorialMovimientosVVO1.hints.AcumuladoPeriodos.label}:"
                                                              required="#{bindings.PrHistorialMovimientosVVO1.hints.AcumuladoPeriodos.mandatory}"
                                                              columns="#{bindings.PrHistorialMovimientosVVO1.hints.AcumuladoPeriodos.displayWidth}"
                                                              maximumLength="#{bindings.PrHistorialMovimientosVVO1.hints.AcumuladoPeriodos.precision}"
                                                              shortDesc="#{bindings.PrHistorialMovimientosVVO1.hints.AcumuladoPeriodos.tooltip}"
                                                              id="it8">
                                                   <f:validator binding="#{row.bindings.AcumuladoPeriodos.validator}"/>
                                                   <af:convertNumber groupingUsed="false"
                                                                     pattern="#{bindings.PrHistorialMovimientosVVO1.hints.AcumuladoPeriodos.format}"/>
                                                </af:inputText>
                                                <af:inputText value="#{row.bindings.AnioVigencia.inputValue}"
                                                              label="#{bindings.PrHistorialMovimientosVVO1.hints.AnioVigencia.label}:"
                                                              required="#{bindings.PrHistorialMovimientosVVO1.hints.AnioVigencia.mandatory}"
                                                              columns="#{bindings.PrHistorialMovimientosVVO1.hints.AnioVigencia.displayWidth}"
                                                              maximumLength="#{bindings.PrHistorialMovimientosVVO1.hints.AnioVigencia.precision}"
                                                              shortDesc="#{bindings.PrHistorialMovimientosVVO1.hints.AnioVigencia.tooltip}"
                                                              id="it7">
                                                   <f:validator binding="#{row.bindings.AnioVigencia.validator}"/>
                                                   <af:convertNumber groupingUsed="false"
                                                                     pattern="#{bindings.PrHistorialMovimientosVVO1.hints.AnioVigencia.format}"/>
                                                </af:inputText>
                                                <af:inputText value="#{row.bindings.ValorTotalCatastral.inputValue}"
                                                              label="#{bindings.PrHistorialMovimientosVVO1.hints.ValorTotalCatastral.label}:"
                                                              required="#{bindings.PrHistorialMovimientosVVO1.hints.ValorTotalCatastral.mandatory}"
                                                              columns="#{bindings.PrHistorialMovimientosVVO1.hints.ValorTotalCatastral.displayWidth}"
                                                              maximumLength="#{bindings.PrHistorialMovimientosVVO1.hints.ValorTotalCatastral.precision}"
                                                              shortDesc="#{bindings.PrHistorialMovimientosVVO1.hints.ValorTotalCatastral.tooltip}"
                                                              id="it9">
                                                   <f:validator binding="#{row.bindings.ValorTotalCatastral.validator}"/>
                                                   <af:convertNumber groupingUsed="false"
                                                                     pattern="#{bindings.PrHistorialMovimientosVVO1.hints.ValorTotalCatastral.format}"/>
                                                </af:inputText>
                                                <af:inputText value="#{row.bindings.TipoAvaluo.inputValue}"
                                                              label="#{bindings.PrHistorialMovimientosVVO1.hints.TipoAvaluo.label}:"
                                                              required="#{bindings.PrHistorialMovimientosVVO1.hints.TipoAvaluo.mandatory}"
                                                              columns="#{bindings.PrHistorialMovimientosVVO1.hints.TipoAvaluo.displayWidth}"
                                                              maximumLength="#{bindings.PrHistorialMovimientosVVO1.hints.TipoAvaluo.precision}"
                                                              shortDesc="#{bindings.PrHistorialMovimientosVVO1.hints.TipoAvaluo.tooltip}"
                                                              id="it10">
                                                   <f:validator binding="#{row.bindings.TipoAvaluo.validator}"/>
                                                </af:inputText>
                                             </af:panelFormLayout>
                                             <af:panelFormLayout id="pfl3">
                                                <af:inputText value="#{row.bindings.ValorColonia.inputValue}"
                                                              label="#{bindings.PrHistorialMovimientosVVO1.hints.ValorColonia.label}:"
                                                              required="#{bindings.PrHistorialMovimientosVVO1.hints.ValorColonia.mandatory}"
                                                              columns="#{bindings.PrHistorialMovimientosVVO1.hints.ValorColonia.displayWidth}"
                                                              maximumLength="#{bindings.PrHistorialMovimientosVVO1.hints.ValorColonia.precision}"
                                                              shortDesc="#{bindings.PrHistorialMovimientosVVO1.hints.ValorColonia.tooltip}"
                                                              id="it13">
                                                   <f:validator binding="#{row.bindings.ValorColonia.validator}"/>
                                                   <af:convertNumber groupingUsed="false"
                                                                     pattern="#{bindings.PrHistorialMovimientosVVO1.hints.ValorColonia.format}"/>
                                                </af:inputText>
                                                <af:inputText value="#{row.bindings.ValorTotalConstruccion.inputValue}"
                                                              label="#{bindings.PrHistorialMovimientosVVO1.hints.ValorTotalConstruccion.label}:"
                                                              required="#{bindings.PrHistorialMovimientosVVO1.hints.ValorTotalConstruccion.mandatory}"
                                                              columns="#{bindings.PrHistorialMovimientosVVO1.hints.ValorTotalConstruccion.displayWidth}"
                                                              maximumLength="#{bindings.PrHistorialMovimientosVVO1.hints.ValorTotalConstruccion.precision}"
                                                              shortDesc="#{bindings.PrHistorialMovimientosVVO1.hints.ValorTotalConstruccion.tooltip}"
                                                              id="it17">
                                                   <f:validator binding="#{row.bindings.ValorTotalConstruccion.validator}"/>
                                                   <af:convertNumber groupingUsed="false"
                                                                     pattern="#{bindings.PrHistorialMovimientosVVO1.hints.ValorTotalConstruccion.format}"/>
                                                </af:inputText>
                                                <af:inputText value="#{row.bindings.FactorMeritoDemerito2.inputValue}"
                                                              label="#{bindings.PrHistorialMovimientosVVO1.hints.FactorMeritoDemerito2.label}:"
                                                              required="#{bindings.PrHistorialMovimientosVVO1.hints.FactorMeritoDemerito2.mandatory}"
                                                              columns="#{bindings.PrHistorialMovimientosVVO1.hints.FactorMeritoDemerito2.displayWidth}"
                                                              maximumLength="#{bindings.PrHistorialMovimientosVVO1.hints.FactorMeritoDemerito2.precision}"
                                                              shortDesc="#{bindings.PrHistorialMovimientosVVO1.hints.FactorMeritoDemerito2.tooltip}"
                                                              id="it12">
                                                   <f:validator binding="#{row.bindings.FactorMeritoDemerito2.validator}"/>
                                                   <af:convertNumber groupingUsed="false"
                                                                     pattern="#{bindings.PrHistorialMovimientosVVO1.hints.FactorMeritoDemerito2.format}"/>
                                                </af:inputText>
                                                <af:inputText value="#{row.bindings.SuperficieTotalConstruccion.inputValue}"
                                                              label="#{bindings.PrHistorialMovimientosVVO1.hints.SuperficieTotalConstruccion.label}:"
                                                              required="#{bindings.PrHistorialMovimientosVVO1.hints.SuperficieTotalConstruccion.mandatory}"
                                                              columns="#{bindings.PrHistorialMovimientosVVO1.hints.SuperficieTotalConstruccion.displayWidth}"
                                                              maximumLength="#{bindings.PrHistorialMovimientosVVO1.hints.SuperficieTotalConstruccion.precision}"
                                                              shortDesc="#{bindings.PrHistorialMovimientosVVO1.hints.SuperficieTotalConstruccion.tooltip}"
                                                              id="it15">
                                                   <f:validator binding="#{row.bindings.SuperficieTotalConstruccion.validator}"/>
                                                   <af:convertNumber groupingUsed="false"
                                                                     pattern="#{bindings.PrHistorialMovimientosVVO1.hints.SuperficieTotalConstruccion.format}"/>
                                                </af:inputText>
                                                <af:inputText value="#{row.bindings.AcumuladoImpuesto.inputValue}"
                                                              label="#{bindings.PrHistorialMovimientosVVO1.hints.AcumuladoImpuesto.label}:"
                                                              required="#{bindings.PrHistorialMovimientosVVO1.hints.AcumuladoImpuesto.mandatory}"
                                                              columns="#{bindings.PrHistorialMovimientosVVO1.hints.AcumuladoImpuesto.displayWidth}"
                                                              maximumLength="#{bindings.PrHistorialMovimientosVVO1.hints.AcumuladoImpuesto.precision}"
                                                              shortDesc="#{bindings.PrHistorialMovimientosVVO1.hints.AcumuladoImpuesto.tooltip}"
                                                              id="it18">
                                                   <f:validator binding="#{row.bindings.AcumuladoImpuesto.validator}"/>
                                                   <af:convertNumber groupingUsed="false"
                                                                     pattern="#{bindings.PrHistorialMovimientosVVO1.hints.AcumuladoImpuesto.format}"/>
                                                </af:inputText>
                                                <af:inputText value="#{row.bindings.PeriodoVigencia.inputValue}"
                                                              label="#{bindings.PrHistorialMovimientosVVO1.hints.PeriodoVigencia.label}:"
                                                              required="#{bindings.PrHistorialMovimientosVVO1.hints.PeriodoVigencia.mandatory}"
                                                              columns="#{bindings.PrHistorialMovimientosVVO1.hints.PeriodoVigencia.displayWidth}"
                                                              maximumLength="#{bindings.PrHistorialMovimientosVVO1.hints.PeriodoVigencia.precision}"
                                                              shortDesc="#{bindings.PrHistorialMovimientosVVO1.hints.PeriodoVigencia.tooltip}"
                                                              id="it14">
                                                   <f:validator binding="#{row.bindings.PeriodoVigencia.validator}"/>
                                                   <af:convertNumber groupingUsed="false"
                                                                     pattern="#{bindings.PrHistorialMovimientosVVO1.hints.PeriodoVigencia.format}"/>
                                                </af:inputText>
                                                <af:selectOneChoice value="#{row.bindings.EstatusAvaluo.inputValue}"
                                                                    label="#{row.bindings.EstatusAvaluo.label}:"
                                                                    required="#{bindings.PrHistorialMovimientosVVO1.hints.EstatusAvaluo.mandatory}"
                                                                    shortDesc="#{bindings.PrHistorialMovimientosVVO1.hints.EstatusAvaluo.tooltip}"
                                                                    id="soc1"
                                                                    readOnly="true">
                                                   <f:selectItems value="#{row.bindings.EstatusAvaluo.items}"
                                                                  id="si1"/>
                                                </af:selectOneChoice>
                                             </af:panelFormLayout>
                                          </af:panelGroupLayout>
                                       </af:panelGroupLayout>
                                    </f:facet>
                                 </af:table>
                              </af:panelGroupLayout>
                           </af:panelHeader>
                        </af:showDetailItem>
                        <af:showDetailItem text="#{viewcontrollerBundle['TIT.OBLIGACIONES']}"
                                           id="showDetailItem4"
                                           disclosureListener="#{DetallesPadronBean.despliegaTabs}"
                                           binding="#{DetallesPadronBean.showDetailItemObligaciones}"
                                           styleClass="AFStretchWidth"
                                           inlineStyle="height:700px; ">
                           <af:panelHeader text="#{viewcontrollerBundle['TIT.OBLIGACIONES']}"
                                           id="panelHeader5"
                                           inlineStyle="height:56px;">
                              <f:facet name="legend">
                                 <af:outputFormatted value="#{viewcontrollerBundle['TIP.OBLIGACIONES']}"
                                                     id="outputFormatted4"
                                                     styleUsage="pageStamp"/>
                              </f:facet>
                              <af:spacer width="10" height="10" id="spacer4"/>
                           </af:panelHeader>
                        </af:showDetailItem>
                        <af:showDetailItem text="#{viewcontrollerBundle['TIT.OTROS_PREDIOS']}"
                                           id="showDetailItem5"
                                           disclosureListener="#{DetallesPadronBean.despliegaTabs}"
                                           binding="#{DetallesPadronBean.showDetailItemOtrosPredios}"
                                           styleClass="AFStretchWidth"
                                           inlineStyle="height:700px; ">
                           <af:panelHeader text="#{viewcontrollerBundle['TIT.OTROS_PREDIOS']}"
                                           id="ph5"
                                           styleClass="AFStretch Width">
                              <af:spacer width="10" height="10" id="spacer5"/>
                              <af:table value="#{bindings.PrPrediosPropietarioVVO1.collectionModel}"
                                        var="row"
                                        rows="#{bindings.PrPrediosPropietarioVVO1.rangeSize}"
                                        emptyText="#{bindings.PrPrediosPropietarioVVO1.viewable ? viewcontrollerBundle['SYS.SIN_DATOS'] : viewcontrollerBundle['SYS.ACCESO_RESTRINGIDO']}"
                                        fetchSize="#{bindings.PrPrediosPropietarioVVO1.rangeSize}"
                                        rowBandingInterval="0"
                                        filterModel="#{bindings.PrPrediosPropietarioVVO1Query.queryDescriptor}"
                                        queryListener="#{bindings.PrPrediosPropietarioVVO1Query.processQuery}"
                                        filterVisible="true" varStatus="vs"
                                        selectedRowKeys="#{bindings.PrPrediosPropietarioVVO1.collectionModel.selectedRow}"
                                        selectionListener="#{bindings.PrPrediosPropietarioVVO1.collectionModel.makeCurrent}"
                                        rowSelection="single" id="t2"
                                        columnStretching="column:c11"
                                        styleClass="AFStretchWidth"
                                        binding="#{DetallesPadronBean.tblOtrosPredios}">
                                 <af:column width="80" id="c9">
                                    <af:commandLink text="#{viewcontrollerBundle.CARGAR_PREDIO}"
                                                    id="cl5"
                                                    actionListener="#{DetallesPadronBean.cargarPredioActionListener}">
                                    </af:commandLink>
                                 </af:column>
                                 <af:column sortProperty="ClaveCatastral"
                                            filterable="true" sortable="false"
                                            headerText="#{bindings.PrPrediosPropietarioVVO1.hints.ClaveCatastral.label}"
                                            id="c12" width="154">
                                    <af:outputText value="#{row.ClaveCatastral}"
                                                   id="ot10"/>
                                 </af:column>
                                 <af:column sortProperty="Rol" filterable="true"
                                            sortable="false"
                                            headerText="#{bindings.PrPrediosPropietarioVVO1.hints.Rol.label}"
                                            id="c10" width="131">
                                    <af:outputText value="#{row.Rol}"
                                                   id="ot11"/>
                                 </af:column>
                                 <af:column sortProperty="UbicacionDelPredio"
                                            filterable="true" sortable="false"
                                            headerText="#{bindings.PrPrediosPropietarioVVO1.hints.UbicacionDelPredio.label}"
                                            id="c11" width="1234">
                                    <af:outputText value="#{row.UbicacionDelPredio}"
                                                   id="ot13"/>
                                 </af:column>
                              </af:table>
                              <f:facet name="legend">
                                 <af:outputFormatted value="#{viewcontrollerBundle['TIP.OTROS_PREDIOS']}"
                                                     id="outputFormatted5"
                                                     styleUsage="pageStamp"/>
                              </f:facet>
                           </af:panelHeader>
                        </af:showDetailItem>
                     </af:panelTabbed>
                  </af:panelGroupLayout>
               </f:facet>
               <f:attribute name="tituloPantalla"
                            value="#{viewcontrollerBundle['CON.CONSULTA']} - #{viewcontrollerBundle['CON.DETALLES']}"/>
            </af:pageTemplate>
         </af:form>
      </af:document>
   </f:view>
</jsp:root>