<?xml version='1.0' encoding='UTF-8'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1"
          xmlns:f="http://java.sun.com/jsf/core"
          xmlns:af="http://xmlns.oracle.com/adf/faces/rich"
          xmlns:c="http://java.sun.com/jsp/jstl/core">
    <c:set var="viewcontrollerBundle"
           value="#{adfBundle['mx.tgc.view.ViewControllerBundle']}"/>
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <f:view>
        <af:document id="d1"
                     title="#{viewcontrollerBundle['CAT.SEG_CATAS_UBICA_VAL.TITULO']}">
            <af:messages id="m1"/>
            <af:form id="f1">
                <af:pageTemplate viewId="/catastro/template/cacoTemplate2.jspx"
                                 id="pt1">
                    <f:facet name="top">
                        <af:panelHeader text="#{viewcontrollerBundle['TIT.UBICACIONES']}"
                                        id="ph1"
                                        styleClass="AFStretchWidth AFStretchHeight">
                            <af:outputFormatted id="outputFormatted5"
                                                styleUsage="pageStamp"
                                                styleClass="AFStretchWidth"
                                                value="#{viewcontrollerBundle['TIP.FILTRADO_TABLA']} #{viewcontrollerBundle['NOM.VALORES']}."/>
                            <af:panelCollection id="pc2"
                                                styleClass="AFStretchWidth AFStretchHeight"
                                                inlineStyle="height:240.0px;">
                                <af:table value="#{bindings.PrSegmentosCatastralesUbicaVO1.collectionModel}"
                                          var="row"
                                          rows="#{bindings.PrSegmentosCatastralesUbicaVO1.rangeSize}"
                                          emptyText="#{viewcontrollerBundle['SYS.SIN_DATOS']}"
                                          fetchSize="#{bindings.PrSegmentosCatastralesUbicaVO1.rangeSize}"
                                          rowBandingInterval="0"
                                          filterModel="#{bindings.PrSegmentosCatastralesUbicaVO1Query.queryDescriptor}"
                                          queryListener="#{bindings.PrSegmentosCatastralesUbicaVO1Query.processQuery}"
                                          filterVisible="false" varStatus="vs"
                                          selectedRowKeys="#{bindings.PrSegmentosCatastralesUbicaVO1.collectionModel.selectedRow}"
                                          selectionListener="#{bindings.PrSegmentosCatastralesUbicaVO1.collectionModel.makeCurrent}"
                                          rowSelection="single" id="t1"
                                          partialTriggers=":::pc1:tt1"
                                          styleClass="AFStretchWidth AFStretchHeight"
                                          columnStretching="column:c20">
                                    <af:column sortProperty="TipoVialidad"
                                               sortable="true"
                                               headerText="#{bindings.PrSegmentosCatastralesUbicaVO1.hints.TipoVialidad.label}"
                                               id="c16" filterable="true"
                                               filterFeatures="caseInsensitive">
                                        <af:selectOneChoice value="#{row.bindings.TipoVialidad.inputValue}"
                                                            label="#{row.bindings.TipoVialidad.label}"
                                                            required="#{bindings.PrSegmentosCatastralesUbicaVO1.hints.TipoVialidad.mandatory}"
                                                            shortDesc="#{bindings.PrSegmentosCatastralesUbicaVO1.hints.TipoVialidad.tooltip}"
                                                            id="soc7"
                                                            readOnly="true">
                                            <f:selectItems value="#{row.bindings.TipoVialidad.items}"
                                                           id="si7"/>
                                        </af:selectOneChoice>
                                    </af:column>
                                    <af:column sortProperty="NombreVialidad"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.PrSegmentosCatastralesUbicaVO1.hints.NombreVialidad.label}"
                                               id="c23"
                                               filterFeatures="caseInsensitive">
                                        <af:outputText value="#{row.NombreVialidad}"
                                                       id="ot10"/>
                                    </af:column>
                                    <af:column sortProperty="TipoAsentamiento"
                                               filterable="true" sortable="true"
                                               headerText="#{viewcontrollerBundle['TIT.TIPO']} #{pageFlowScope.PR0009 eq 'ASENTAMIENTO' ? viewcontrollerBundle['LABEL.ASENTAMIENTO_MIN_SING'] : pageFlowScope.PR0009 eq 'COLONIA' ? viewcontrollerBundle['LABEL.COLONIA_MIN_SING'] : null}"
                                               id="c10"
                                               filterFeatures="caseInsensitive">
                                        <af:selectOneChoice value="#{row.bindings.TipoAsentamiento.inputValue}"
                                                            label="#{row.bindings.TipoAsentamiento.label}"
                                                            required="#{bindings.PrSegmentosCatastralesUbicaVO1.hints.TipoAsentamiento.mandatory}"
                                                            shortDesc="#{bindings.PrSegmentosCatastralesUbicaVO1.hints.TipoAsentamiento.tooltip}"
                                                            id="soc6"
                                                            readOnly="true">
                                            <f:selectItems value="#{row.bindings.TipoAsentamiento.items}"
                                                           id="si6"/>
                                        </af:selectOneChoice>
                                    </af:column>
                                    <af:column sortProperty="NombreAsentamiento"
                                               filterable="true" sortable="true"
                                               headerText="#{viewcontrollerBundle['TIT.NOMBRE_DE']} #{pageFlowScope.PR0009 eq 'ASENTAMIENTO' ? viewcontrollerBundle['LABEL.ASENTAMIENTO_MIN_SING'] : pageFlowScope.PR0009 eq 'COLONIA' ? viewcontrollerBundle['LABEL.COLONIA_MIN_SING'] : null}"
                                               id="c20"
                                               filterFeatures="caseInsensitive">
                                        <af:outputText value="#{row.NombreAsentamiento}"
                                                       id="ot8"/>
                                    </af:column>
                                    <af:column sortProperty="Campo1"
                                               filterable="false"
                                               sortable="true"
                                               headerText="#{bindings.UbCampo1.label}"
                                               rendered="#{bindings.UbCampo1.displayHint}"
                                               id="c24">
                                        <af:outputText value="#{row.Campo1}"
                                                       id="ot21"/>
                                    </af:column>
                                    <af:column sortProperty="Campo2"
                                               filterable="false"
                                               sortable="true"
                                               headerText="#{bindings.UbCampo2.label}"
                                               rendered="#{bindings.UbCampo2.displayHint}"
                                               id="c11">
                                        <af:outputText value="#{row.Campo2}"
                                                       id="ot23"/>
                                    </af:column>
                                    <af:column sortProperty="Campo3"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.UbCampo3.label}"
                                               rendered="#{bindings.UbCampo3.displayHint}"
                                               id="c8">
                                        <af:outputText value="#{row.Campo3}"
                                                       id="ot15"/>
                                    </af:column>
                                    <af:column sortProperty="Campo4"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.UbCampo4.label}"
                                               rendered="#{bindings.UbCampo4.displayHint}"
                                               id="c7">
                                        <af:outputText value="#{row.Campo4}"
                                                       id="ot24"/>
                                    </af:column>
                                    <af:column sortProperty="Campo5"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.UbCampo5.label}"
                                               rendered="#{bindings.UbCampo5.displayHint}"
                                               id="c17">
                                        <af:outputText value="#{row.Campo5}"
                                                       id="ot7"/>
                                    </af:column>
                                    <af:column sortProperty="Campo6"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.UbCampo6.label}"
                                               rendered="#{bindings.UbCampo6.displayHint}"
                                               id="c14">
                                        <af:outputText value="#{row.Campo6}"
                                                       id="ot26"/>
                                    </af:column>
                                    <af:column sortProperty="Campo7"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.UbCampo7.label}"
                                               rendered="#{bindings.UbCampo7.displayHint}"
                                               id="c9">
                                        <af:outputText value="#{row.Campo7}"
                                                       id="ot9"/>
                                    </af:column>
                                    <af:column sortProperty="Campo8"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.UbCampo8.label}"
                                               rendered="#{bindings.UbCampo8.displayHint}"
                                               id="c12">
                                        <af:outputText value="#{row.Campo8}"
                                                       id="ot13"/>
                                    </af:column>
                                    <af:column sortProperty="Campo9"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.UbCampo9.label}"
                                               rendered="#{bindings.UbCampo9.displayHint}"
                                               id="c15">
                                        <af:outputText value="#{row.Campo9}"
                                                       id="ot16"/>
                                    </af:column>
                                    <af:column sortProperty="Campo10"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.UbCampo10.label}"
                                               rendered="#{bindings.UbCampo10.displayHint}"
                                               id="c21">
                                        <af:outputText value="#{row.Campo10}"
                                                       id="ot18"/>
                                    </af:column>
                                    <af:column sortProperty="Campo11"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.UbCampo11.label}"
                                               rendered="#{bindings.UbCampo11.displayHint}"
                                               id="c13">
                                        <af:outputText value="#{row.Campo11}"
                                                       id="ot25"/>
                                    </af:column>
                                    <af:column sortProperty="Campo12"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.UbCampo12.label}"
                                               rendered="#{bindings.UbCampo12.displayHint}"
                                               id="c18">
                                        <af:outputText value="#{row.Campo12}"
                                                       id="ot19"/>
                                    </af:column>
                                    <af:column sortProperty="Campo13"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.UbCampo13.label}"
                                               rendered="#{bindings.UbCampo13.displayHint}"
                                               id="c19">
                                        <af:outputText value="#{row.Campo13}"
                                                       id="ot17"/>
                                    </af:column>
                                    <af:column sortProperty="Campo14"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.UbCampo14.label}"
                                               rendered="#{bindings.UbCampo14.displayHint}"
                                               id="c6">
                                        <af:outputText value="#{row.Campo14}"
                                                       id="ot20"/>
                                    </af:column>
                                    <af:column sortProperty="Campo15"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.UbCampo15.label}"
                                               rendered="#{bindings.UbCampo15.displayHint}"
                                               id="c22">
                                        <af:outputText value="#{row.Campo15}"
                                                       id="ot14"/>
                                    </af:column>
                                </af:table>
                            </af:panelCollection>
                        </af:panelHeader>
                    </f:facet>
                    <f:facet name="bottom">
                    <af:panelGroupLayout id="pgl4" layout="scroll">
                        <af:panelHeader text="#{viewcontrollerBundle['TIT.VALORES']}"
                                        id="ph2"
                                        styleClass="AFStretchWidth AFStretchhHeight">
                            <af:outputFormatted value="#{viewcontrollerBundle['TIP.MSG_TABLA']}"
                                                id="outputFormatted4"
                                                styleUsage="pageStamp"
                                                styleClass="AFStretchWidth"/>
                            <af:panelCollection id="pc3"
                                                styleClass="AFStretchWidth AFStretchHeight"
                                                inlineStyle="height:240.0px;">
                                <f:facet name="toolbar">
                                    <af:toolbar id="t3">
                                        <af:commandToolbarButton text="#{viewcontrollerBundle['BOTON.AGREGAR']}"
                                                                 disabled="#{!bindings.DeleteSegCataUbica.enabled}"
                                                                 id="ctbInsert"
                                                                 partialTriggers="t2">
                                            <af:showPopupBehavior popupId="poupDml"
                                                                  triggerType="action"/>
                                            <af:setPropertyListener to="#{pageFlowScope.operacion}"
                                                                    from="nuevo"
                                                                    type="action"/>
                                        </af:commandToolbarButton>
                                        <af:commandToolbarButton text="#{viewcontrollerBundle['BOTON.MODIFICAR']}"
                                                                 disabled="#{!bindings.Delete.enabled}"
                                                                 id="ctbEdit"
                                                                 partialTriggers="t2">
                                            <af:showPopupBehavior popupId="poupDml"
                                                                  triggerType="action"/>
                                            <af:setPropertyListener from="modificar"
                                                                    to="#{pageFlowScope.operacion}"
                                                                    type="action"/>
                                        </af:commandToolbarButton>
                                        <af:commandToolbarButton text="#{viewcontrollerBundle['BOTON.BORRAR']}"
                                                                 disabled="#{!bindings.Delete.enabled}"
                                                                 id="ctbDelete"
                                                                 partialTriggers="t2">
                                            <af:showPopupBehavior popupId="p3"
                                                                  triggerType="action"/>
                                        </af:commandToolbarButton>
                                    </af:toolbar>
                                </f:facet>
                                <af:popup id="poupDml"
                                          contentDelivery="lazyUncached"
                                          popupFetchListener="#{viewScope.CataSegCatasUbicaValBean.editPopupFetchListener}"
                                          popupCanceledListener="#{viewScope.CataSegCatasUbicaValBean.editPopupCancelListener}"
                                          binding="#{viewScope.CataSegCatasUbicaValBean.popupDml}">
                                    <af:dialog id="d2" type="none"
                                               dialogListener="#{viewScope.CataSegCatasUbicaValBean.editDialogListener}"
                                               affirmativeTextAndAccessKey="#{viewcontrollerBundle['BOTON.ACEPTAR']}"
                                               cancelTextAndAccessKey="#{viewcontrollerBundle['BOTON.CANCELAR']}"
                                               title="#{viewcontrollerBundle['TIT.AGREGAR_MODIFICAR']}"
                                               resize="off"
                                               closeIconVisible="false">
                                        <af:panelGroupLayout id="pgl3"
                                                             layout="scroll">
                                            <af:outputFormatted id="outputFormatted1"
                                                                styleUsage="pageStamp"
                                                                styleClass="AFStretchWidth"
                                                                value="#{viewcontrollerBundle['TIP.AGREGAR_MODIFICAR']}."/>
                                            <af:outputFormatted value="#{viewcontrollerBundle['TIP.CAMPOS_OBLIGATORIOS']}."
                                                                id="outputFormatted3"
                                                                styleUsage="pageStamp"/>
                                            <af:panelFormLayout id="pfl2">
                                                <af:selectOneChoice value="#{bindings.PrSegmentosCatastralesUbicaVO11.inputValue}"
                                                                    label="#{viewcontrollerBundle['LOV.SEGMENTO_UBICACION']}:"
                                                                    required="#{bindings.PrSegmentosCatastralesUbicaVO11.hints.mandatory}"
                                                                    id="soc4"
                                                                    disabled="true">
                                                    <f:selectItems value="#{bindings.PrSegmentosCatastralesUbicaVO11.items}"
                                                                   id="si5"/>
                                                </af:selectOneChoice>
                                                <af:panelLabelAndMessage label="#{bindings.SegmentoUbicacion.hints.label}"
                                                                         id="plam1"
                                                                         visible="#{bindings.CreateInsert.enabled}"
                                                                         rendered="false">
                                                    <af:outputText value="#{bindings.SegmentoUbicacion.inputValue}"
                                                                   id="ot29"/>
                                                </af:panelLabelAndMessage>
                                                <af:inputText value="#{bindings.ValorBajo.inputValue}"
                                                              label="#{bindings.ValorBajo.hints.label}:"
                                                              required="#{bindings.ValorBajo.hints.mandatory}"
                                                              columns="#{bindings.ValorBajo.hints.displayWidth}"
                                                              maximumLength="#{bindings.ValorBajo.hints.precision}"
                                                              id="it24">
                                                    <f:validator binding="#{bindings.ValorBajo.validator}"/>
                                                    <af:convertNumber groupingUsed="false"
                                                                      pattern="#{bindings.ValorBajo.format}"/>
                                                </af:inputText>
                                                <af:inputText value="#{bindings.ValorAlto.inputValue}"
                                                              label="#{bindings.ValorAlto.hints.label}:"
                                                              required="#{bindings.ValorAlto.hints.mandatory}"
                                                              columns="#{bindings.ValorAlto.hints.displayWidth}"
                                                              maximumLength="#{bindings.ValorAlto.hints.precision}"
                                                              id="it28">
                                                    <f:validator binding="#{bindings.ValorAlto.validator}"/>
                                                    <af:convertNumber groupingUsed="false"
                                                                      pattern="#{bindings.ValorAlto.format}"/>
                                                </af:inputText>
                                                <af:inputDate value="#{bindings.FechaAsignacion.inputValue}"
                                                              label="#{bindings.FechaAsignacion.hints.label}:"
                                                              required="#{bindings.FechaAsignacion.hints.mandatory}"
                                                              shortDesc="#{bindings.FechaAsignacion.hints.tooltip}"
                                                              id="id2">
                                                    <f:validator binding="#{bindings.FechaAsignacion.validator}"/>
                                                    <af:convertDateTime pattern="dd-MM-yyyy"
                                                                        type="date"
                                                                        dateStyle="short"/>
                                                </af:inputDate>
                                                <af:selectOneChoice value="#{bindings.Estatus.inputValue}"
                                                                    label="#{bindings.Estatus.label}:"
                                                                    required="#{bindings.Estatus.hints.mandatory}"
                                                                    id="soc3">
                                                    <f:selectItems value="#{bindings.Estatus.items}"
                                                                   id="si4"/>
                                                </af:selectOneChoice>
                                                <af:selectOneChoice value="#{bindings.PrTiavIdentificador.inputValue}"
                                                                    label="#{bindings.PrTiavIdentificador.hints.label}:"
                                                                    required="#{bindings.PrTiavIdentificador.hints.mandatory}"
                                                                    id="soc5">
                                                    <f:selectItems value="#{bindings.PrTiavIdentificador.items}"
                                                                   id="si3"/>
                                                </af:selectOneChoice>
                                                <af:inputText value="#{bindings.Campo1.inputValue}"
                                                              label="#{bindings.Campo1.hints.label}:"
                                                              required="#{bindings.Campo1.hints.mandatory}"
                                                              columns="#{bindings.Campo1.hints.displayWidth}"
                                                              maximumLength="#{bindings.Campo1.hints.precision}"
                                                              rendered="#{bindings.Campo1.hints.displayHint}"
                                                              id="it29">
                                                    <f:validator binding="#{bindings.Campo1.validator}"/>
                                                </af:inputText>
                                                <af:inputText value="#{bindings.Campo2.inputValue}"
                                                              label="#{bindings.Campo2.hints.label}:"
                                                              required="#{bindings.Campo2.hints.mandatory}"
                                                              columns="#{bindings.Campo2.hints.displayWidth}"
                                                              maximumLength="#{bindings.Campo2.hints.precision}"
                                                              rendered="#{bindings.Campo2.hints.displayHint}"
                                                              id="it27">
                                                    <f:validator binding="#{bindings.Campo2.validator}"/>
                                                </af:inputText>
                                                <af:inputText value="#{bindings.Campo3.inputValue}"
                                                              label="#{bindings.Campo3.hints.label}:"
                                                              required="#{bindings.Campo3.hints.mandatory}"
                                                              columns="#{bindings.Campo3.hints.displayWidth}"
                                                              maximumLength="#{bindings.Campo3.hints.precision}"
                                                              rendered="#{bindings.Campo3.hints.displayHint}"
                                                              id="it30">
                                                    <f:validator binding="#{bindings.Campo3.validator}"/>
                                                </af:inputText>
                                                <af:inputText value="#{bindings.Campo4.inputValue}"
                                                              label="#{bindings.Campo4.hints.label}:"
                                                              required="#{bindings.Campo4.hints.mandatory}"
                                                              columns="#{bindings.Campo4.hints.displayWidth}"
                                                              maximumLength="#{bindings.Campo4.hints.precision}"
                                                              rendered="#{bindings.Campo4.hints.displayHint}"
                                                              id="it34">
                                                    <f:validator binding="#{bindings.Campo4.validator}"/>
                                                </af:inputText>
                                                <af:inputText value="#{bindings.Campo5.inputValue}"
                                                              label="#{bindings.Campo5.hints.label}:"
                                                              required="#{bindings.Campo5.hints.mandatory}"
                                                              columns="#{bindings.Campo5.hints.displayWidth}"
                                                              maximumLength="#{bindings.Campo5.hints.precision}"
                                                              rendered="#{bindings.Campo5.hints.displayHint}"
                                                              id="it22">
                                                    <f:validator binding="#{bindings.Campo5.validator}"/>
                                                </af:inputText>
                                                <af:inputText value="#{bindings.Campo6.inputValue}"
                                                              label="#{bindings.Campo6.hints.label}:"
                                                              required="#{bindings.Campo6.hints.mandatory}"
                                                              columns="#{bindings.Campo6.hints.displayWidth}"
                                                              maximumLength="#{bindings.Campo6.hints.precision}"
                                                              rendered="#{bindings.Campo6.hints.displayHint}"
                                                              id="it14">
                                                    <f:validator binding="#{bindings.Campo6.validator}"/>
                                                </af:inputText>
                                                <af:inputText value="#{bindings.Campo7.inputValue}"
                                                              label="#{bindings.Campo7.hints.label}:"
                                                              required="#{bindings.Campo7.hints.mandatory}"
                                                              columns="#{bindings.Campo7.hints.displayWidth}"
                                                              maximumLength="#{bindings.Campo7.hints.precision}"
                                                              rendered="#{bindings.Campo7.hints.displayHint}"
                                                              id="it33">
                                                    <f:validator binding="#{bindings.Campo7.validator}"/>
                                                </af:inputText>
                                                <af:inputText value="#{bindings.Campo8.inputValue}"
                                                              label="#{bindings.Campo8.hints.label}:"
                                                              required="#{bindings.Campo8.hints.mandatory}"
                                                              columns="#{bindings.Campo8.hints.displayWidth}"
                                                              maximumLength="#{bindings.Campo8.hints.precision}"
                                                              rendered="#{bindings.Campo8.hints.displayHint}"
                                                              id="it31">
                                                    <f:validator binding="#{bindings.Campo8.validator}"/>
                                                </af:inputText>
                                                <af:inputText value="#{bindings.Campo9.inputValue}"
                                                              label="#{bindings.Campo9.hints.label}:"
                                                              required="#{bindings.Campo9.hints.mandatory}"
                                                              columns="#{bindings.Campo9.hints.displayWidth}"
                                                              maximumLength="#{bindings.Campo9.hints.precision}"
                                                              rendered="#{bindings.Campo9.hints.displayHint}"
                                                              id="it37">
                                                    <f:validator binding="#{bindings.Campo9.validator}"/>
                                                </af:inputText>
                                                <af:inputText value="#{bindings.Campo10.inputValue}"
                                                              label="#{bindings.Campo10.hints.label}:"
                                                              required="#{bindings.Campo10.hints.mandatory}"
                                                              columns="#{bindings.Campo10.hints.displayWidth}"
                                                              maximumLength="#{bindings.Campo10.hints.precision}"
                                                              rendered="#{bindings.Campo10.hints.displayHint}"
                                                              id="it25">
                                                    <f:validator binding="#{bindings.Campo10.validator}"/>
                                                </af:inputText>
                                                <af:inputText value="#{bindings.Campo11.inputValue}"
                                                              label="#{bindings.Campo11.hints.label}:"
                                                              required="#{bindings.Campo11.hints.mandatory}"
                                                              columns="#{bindings.Campo11.hints.displayWidth}"
                                                              maximumLength="#{bindings.Campo11.hints.precision}"
                                                              rendered="#{bindings.Campo11.hints.displayHint}"
                                                              id="it36">
                                                    <f:validator binding="#{bindings.Campo11.validator}"/>
                                                </af:inputText>
                                                <af:inputText value="#{bindings.Campo12.inputValue}"
                                                              label="#{bindings.Campo12.hints.label}:"
                                                              required="#{bindings.Campo12.hints.mandatory}"
                                                              columns="#{bindings.Campo12.hints.displayWidth}"
                                                              maximumLength="#{bindings.Campo12.hints.precision}"
                                                              rendered="#{bindings.Campo12.hints.displayHint}"
                                                              id="it26">
                                                    <f:validator binding="#{bindings.Campo12.validator}"/>
                                                </af:inputText>
                                                <af:inputText value="#{bindings.Campo13.inputValue}"
                                                              label="#{bindings.Campo13.hints.label}:"
                                                              required="#{bindings.Campo13.hints.mandatory}"
                                                              columns="#{bindings.Campo13.hints.displayWidth}"
                                                              maximumLength="#{bindings.Campo13.hints.precision}"
                                                              rendered="#{bindings.Campo13.hints.displayHint}"
                                                              id="it23">
                                                    <f:validator binding="#{bindings.Campo13.validator}"/>
                                                </af:inputText>
                                                <af:inputText value="#{bindings.Campo14.inputValue}"
                                                              label="#{bindings.Campo14.hints.label}:"
                                                              required="#{bindings.Campo14.hints.mandatory}"
                                                              columns="#{bindings.Campo14.hints.displayWidth}"
                                                              maximumLength="#{bindings.Campo14.hints.precision}"
                                                              rendered="#{bindings.Campo14.hints.displayHint}"
                                                              id="it32">
                                                    <f:validator binding="#{bindings.Campo14.validator}"/>
                                                </af:inputText>
                                                <af:inputText value="#{bindings.Campo15.inputValue}"
                                                              label="#{bindings.Campo15.hints.label}:"
                                                              required="#{bindings.Campo15.hints.mandatory}"
                                                              columns="#{bindings.Campo15.hints.displayWidth}"
                                                              maximumLength="#{bindings.Campo15.hints.precision}"
                                                              rendered="#{bindings.Campo15.hints.displayHint}"
                                                              id="it35">
                                                    <f:validator binding="#{bindings.Campo15.validator}"/>
                                                </af:inputText>
                                            </af:panelFormLayout>
                                        </af:panelGroupLayout>
                                        <div align="right"/>
                                        <div align="right"/>
                                        <div align="right"/>
                                        <div align="right"/>
                                        <f:facet name="buttonBar">
                                            <af:group id="g1">
                                                <af:commandButton id="cb2"
                                                                  text="#{viewcontrollerBundle['BOTON.ACEPTAR']}"
                                                                  partialSubmit="true"
                                                                  actionListener="#{viewScope.CataSegCatasUbicaValBean.aceptarListener}"/>
                                                <af:commandButton text="#{viewcontrollerBundle['BOTON.CANCELAR']}"
                                                                  id="cb1"
                                                                  partialSubmit="true"
                                                                  immediate="true">
                                                    <af:showPopupBehavior popupId=":::popupCancelar"/>
                                                </af:commandButton>
                                            </af:group>
                                        </f:facet>
                                    </af:dialog>
                                </af:popup>
                                <af:popup id="p3" contentDelivery="lazyUncached"
                                          popupCanceledListener="#{viewScope.CataSegCatasUbicaValBean.deletePopupCancelListener}">
                                    <af:dialog id="d3"
                                               title="#{viewcontrollerBundle['TIT.CONFIRMAR']}"
                                               dialogListener="#{viewScope.CataSegCatasUbicaValBean.deleteDialogListener}"
                                               resize="off"
                                               closeIconVisible="false">
                                        <af:outputText value="#{viewcontrollerBundle['SYS.BORRAR']}"
                                                       id="ot27"/>
                                    </af:dialog>
                                </af:popup>
                                <af:table value="#{bindings.PrValoresUbicacionesVO1.collectionModel}"
                                          var="row"
                                          rows="#{bindings.PrValoresUbicacionesVO1.rangeSize}"
                                          emptyText="#{viewcontrollerBundle['SYS.SIN_DATOS']}"
                                          fetchSize="#{bindings.PrValoresUbicacionesVO1.rangeSize}"
                                          rowBandingInterval="0"
                                          filterModel="#{bindings.PrValoresUbicacionesVO1Query.queryDescriptor}"
                                          queryListener="#{bindings.PrValoresUbicacionesVO1Query.processQuery}"
                                          filterVisible="false" varStatus="vs"
                                          selectedRowKeys="#{bindings.PrValoresUbicacionesVO1.collectionModel.selectedRow}"
                                          selectionListener="#{bindings.PrValoresUbicacionesVO1.collectionModel.makeCurrent}"
                                          rowSelection="single" id="t2"
                                          partialTriggers=":::pc2:t1 ::d2 ::d3 ::cb2 ::::cb3"
                                          styleClass="AFStretchWidth AFStretchHeight"
                                          columnStretching="column:c29">
                                    <af:column sortProperty="ValorBajo"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.PrValoresUbicacionesVO1.hints.ValorBajo.label}"
                                               id="c33" width="50"
                                               inlineStyle="text-align:right;"
                                               filterFeatures="caseInsensitive">
                                        <af:outputText value="#{row.ValorBajo}"
                                                       id="ot28">
                                            <af:convertNumber groupingUsed="false"
                                                              pattern="#{bindings.PrValoresUbicacionesVO1.hints.ValorBajo.format}"/>
                                        </af:outputText>
                                    </af:column>
                                    <af:column sortProperty="ValorAlto"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.PrValoresUbicacionesVO1.hints.ValorAlto.label}"
                                               id="c43" width="50"
                                               inlineStyle="text-align:right;"
                                               filterFeatures="caseInsensitive">
                                        <af:outputText value="#{row.ValorAlto}"
                                                       id="ot37">
                                            <af:convertNumber groupingUsed="false"
                                                              pattern="#{bindings.PrValoresUbicacionesVO1.hints.ValorAlto.format}"/>
                                        </af:outputText>
                                    </af:column>
                                    <af:column sortProperty="FechaAsignacion"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.PrValoresUbicacionesVO1.hints.FechaAsignacion.label}"
                                               id="c36" align="left"
                                               inlineStyle="text-align:center;"
                                               filterFeatures="caseInsensitive">
                                        <f:facet name="filter">
                                            <af:inputDate value="#{vs.filterCriteria.FechaAsignacion}"
                                                          id="id1"/>
                                        </f:facet>
                                        <af:outputText value="#{row.FechaAsignacion}"
                                                       id="ot35">
                                            <af:convertDateTime pattern="#{bindings.PrValoresUbicacionesVO1.hints.FechaAsignacion.format}"/>
                                        </af:outputText>
                                    </af:column>
                                    <af:column sortProperty="Estatus"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.PrValoresUbicacionesVO1.hints.Estatus.label}"
                                               id="c40"
                                               filterFeatures="caseInsensitive">
                                        <af:selectOneChoice value="#{row.bindings.Estatus.inputValue}"
                                                            label="#{row.bindings.Estatus.label}"
                                                            required="#{bindings.PrValoresUbicacionesVO1.hints.Estatus.mandatory}"
                                                            shortDesc="#{bindings.PrValoresUbicacionesVO1.hints.Estatus.tooltip}"
                                                            id="soc2"
                                                            readOnly="true">
                                            <f:selectItems value="#{row.bindings.Estatus.items}"
                                                           id="si2"/>
                                        </af:selectOneChoice>
                                    </af:column>
                                    <af:column sortProperty="PrTiavIdentificador"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.PrValoresUbicacionesVO1.hints.PrTiavIdentificador.label}"
                                               id="c29"
                                               filterFeatures="caseInsensitive">
                                        <af:selectOneChoice value="#{row.bindings.PrTiavIdentificador.inputValue}"
                                                            label="#{row.bindings.PrTiavIdentificador.label}"
                                                            required="#{bindings.PrValoresUbicacionesVO1.hints.PrTiavIdentificador.mandatory}"
                                                            shortDesc="#{bindings.PrValoresUbicacionesVO1.hints.PrTiavIdentificador.tooltip}"
                                                            id="soc1"
                                                            readOnly="true">
                                            <f:selectItems value="#{row.bindings.PrTiavIdentificador.items}"
                                                           id="si1"/>
                                        </af:selectOneChoice>
                                    </af:column>
                                    <af:column sortProperty="Campo1"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.Campo1.hints.label}"
                                               rendered="#{bindings.Campo1.hints.displayHint}"
                                               id="c38"
                                               filterFeatures="caseInsensitive">
                                        <af:outputText value="#{row.Campo1}"
                                                       id="ot46"/>
                                    </af:column>
                                    <af:column sortProperty="Campo2"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.Campo2.hints.label}"
                                               rendered="#{bindings.Campo2.hints.displayHint}"
                                               id="c44"
                                               filterFeatures="caseInsensitive">
                                        <af:outputText value="#{row.Campo2}"
                                                       id="ot34"/>
                                    </af:column>
                                    <af:column sortProperty="Campo3"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.Campo3.hints.label}"
                                               rendered="#{bindings.Campo3.hints.displayHint}"
                                               id="c26"
                                               filterFeatures="caseInsensitive">
                                        <af:outputText value="#{row.Campo3}"
                                                       id="ot47"/>
                                    </af:column>
                                    <af:column sortProperty="Campo4"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.Campo4.hints.label}"
                                               rendered="#{bindings.Campo4.hints.displayHint}"
                                               id="c28"
                                               filterFeatures="caseInsensitive">
                                        <af:outputText value="#{row.Campo4}"
                                                       id="ot44"/>
                                    </af:column>
                                    <af:column sortProperty="Campo5"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.Campo5.hints.label}"
                                               rendered="#{bindings.Campo5.hints.displayHint}"
                                               id="c35"
                                               filterFeatures="caseInsensitive">
                                        <af:outputText value="#{row.Campo5}"
                                                       id="ot31"/>
                                    </af:column>
                                    <af:column sortProperty="Campo6"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.Campo6.hints.label}"
                                               rendered="#{bindings.Campo6.hints.displayHint}"
                                               id="c37"
                                               filterFeatures="caseInsensitive">
                                        <af:outputText value="#{row.Campo6}"
                                                       id="ot39"/>
                                    </af:column>
                                    <af:column sortProperty="Campo7"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.Campo7.hints.label}"
                                               rendered="#{bindings.Campo7.hints.displayHint}"
                                               id="c32"
                                               filterFeatures="caseInsensitive">
                                        <af:outputText value="#{row.Campo7}"
                                                       id="ot43"/>
                                    </af:column>
                                    <af:column sortProperty="Campo8"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.Campo8.hints.label}"
                                               rendered="#{bindings.Campo8.hints.displayHint}"
                                               id="c25"
                                               filterFeatures="caseInsensitive">
                                        <af:outputText value="#{row.Campo8}"
                                                       id="ot40"/>
                                    </af:column>
                                    <af:column sortProperty="Campo9"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.Campo9.hints.label}"
                                               rendered="#{bindings.Campo9.hints.displayHint}"
                                               id="c42"
                                               filterFeatures="caseInsensitive">
                                        <af:outputText value="#{row.Campo9}"
                                                       id="ot36"/>
                                    </af:column>
                                    <af:column sortProperty="Campo10"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.Campo10.hints.label}"
                                               rendered="#{bindings.Campo10.hints.displayHint}"
                                               id="c39"
                                               filterFeatures="caseInsensitive">
                                        <af:outputText value="#{row.Campo10}"
                                                       id="ot30"/>
                                    </af:column>
                                    <af:column sortProperty="Campo11"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.Campo11.hints.label}"
                                               rendered="#{bindings.Campo11.hints.displayHint}"
                                               id="c27"
                                               filterFeatures="caseInsensitive">
                                        <af:outputText value="#{row.Campo11}"
                                                       id="ot32"/>
                                    </af:column>
                                    <af:column sortProperty="Campo12"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.Campo12.hints.label}"
                                               rendered="#{bindings.Campo12.hints.displayHint}"
                                               id="c34"
                                               filterFeatures="caseInsensitive">
                                        <af:outputText value="#{row.Campo12}"
                                                       id="ot49"/>
                                    </af:column>
                                    <af:column sortProperty="Campo13"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.Campo13.hints.label}"
                                               rendered="#{bindings.Campo13.hints.displayHint}"
                                               id="c41"
                                               filterFeatures="caseInsensitive">
                                        <af:outputText value="#{row.Campo13}"
                                                       id="ot33"/>
                                    </af:column>
                                    <af:column sortProperty="Campo14"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.Campo14.hints.label}"
                                               rendered="#{bindings.Campo14.hints.displayHint}"
                                               id="c30"
                                               filterFeatures="caseInsensitive">
                                        <af:outputText value="#{row.Campo14}"
                                                       id="ot41"/>
                                    </af:column>
                                    <af:column sortProperty="Campo15"
                                               filterable="true" sortable="true"
                                               headerText="#{bindings.Campo15.hints.label}"
                                               rendered="#{bindings.Campo15.hints.displayHint}"
                                               id="c31"
                                               filterFeatures="caseInsensitive">
                                        <af:outputText value="#{row.Campo15}"
                                                       id="ot45"/>
                                    </af:column>
                                </af:table>
                            </af:panelCollection>
                        </af:panelHeader>
                        </af:panelGroupLayout>
                    </f:facet>
                    <f:facet name="left">
                        <af:panelGroupLayout id="pgl2"
                                             styleClass="AFStretchWidth AFStretchHeight">
                            <af:panelGroupLayout id="pgl1"
                                                 binding="#{viewScope.CataSegCatasUbicaValBean.panelBusquedaTreeTable}"/>
                            <af:spacer width="10" height="10" id="s5"/>
                            <af:panelHeader text="#{viewcontrollerBundle['TIT.SEGMENTOS_CATASTRALES']}"
                                            id="ph3"
                                            styleClass="AFStretchWidth AFStretchHeight">
                                <af:panelGroupLayout id="pgl9" layout="scroll" halign="right">
                                    <af:panelFormLayout id="pfl3" labelAlignment="top">
                                        <af:selectOneChoice value="#{bindings.AaUsuariosMunicipiosVVO1.inputValue}"
                                                                label="#{viewcontrollerBundle['LOV.MUNICIPIO']}"
                                                            immediate="true" autoSubmit="true"
                                                            binding="#{CataSegCatasUbicaValBean.municipios}"
                                                            required="#{bindings.AaUsuariosMunicipiosVVO1.hints.mandatory}"
                                                            shortDesc="#{bindings.AaUsuariosMunicipiosVVO1.hints.tooltip}"
                                                            id="soc8">
                                            <f:selectItems value="#{bindings.AaUsuariosMunicipiosVVO1.items}" id="si8"/>
                                        </af:selectOneChoice>
                                    </af:panelFormLayout>
                                </af:panelGroupLayout>
                                <af:outputFormatted value="#{viewcontrollerBundle['TIP.FILTRADO_TABLA']} #{viewcontrollerBundle['NOM.UBICACIONES']}."
                                                    id="outputFormatted2"
                                                    styleUsage="pageStamp"
                                                    styleClass="AFStretchWidth"/>
                                <af:panelCollection id="pc1"
                                                    styleClass="AFStretchWidth AFStretchHeight"
                                                    inlineStyle="height:240px; width:843px;">
                                    <af:treeTable value="#{bindings.PrSegmentosCatastralesVO1.treeModel}"
                                                  partialTriggers=":::soc8"
                                                  var="node"
                                                  selectionListener="#{viewScope.CataSegCatasUbicaValBean.onRowSelection}"
                                                  rowSelection="single" id="tt1"
                                                  emptyText="#{viewcontrollerBundle['SYS.SIN_DATOS']}"
                                                  binding="#{viewScope.CataSegCatasUbicaValBean.treeTable}"
                                                  styleClass="AFStretchWidth AFStretchHeight"
                                                  fetchSize="10">
                                        <f:facet name="nodeStamp">
                                            <af:column id="c1" width="75"
                                                       headerText="#{bindings.PrSegmentosCatastralesVO1.hints.ClaveSegmento.label}">
                                                <af:outputText value="#{node.ClaveSegmento}"
                                                               id="ot2"/>
                                            </af:column>
                                        </f:facet>
                                        <f:facet name="pathStamp">
                                            <af:outputText value="#{node}"
                                                           id="ot1"/>
                                        </f:facet>
                                        <af:column id="c2"
                                                   headerText="#{bindings.PrSegmentosCatastralesVO1.hints.Descripcion.label}"
                                                   width="130">
                                            <af:outputText value="#{node.Descripcion}"
                                                           id="ot3"/>
                                        </af:column>
                                        <af:column id="c3"
                                                   headerText="#{bindings.PrSegmentosCatastralesVO1.hints.Nivel.label}"
                                                   width="25"
                                                   inlineStyle="text-align:right;">
                                            <af:outputText value="#{node.Nivel}"
                                                           id="ot4"/>
                                        </af:column>
                                        <af:column id="c4"
                                                   headerText="#{bindings.PrSegmentosCatastralesVO1.hints.TipoSegmento.label}"
                                                   width="100">
                                            <af:outputText value="#{node.TipoAttr}"
                                                           id="ot5"/>
                                        </af:column>
                                        <af:column id="c5"
                                                   headerText="#{bindings.PrSegmentosCatastralesVO1.hints.Campo15.label}"
                                                   width="75">
                                            <af:outputText value="#{node.Campo15}"
                                                           id="ot6"/>
                                        </af:column>
                                    </af:treeTable>
                                </af:panelCollection>
                            </af:panelHeader>
                        </af:panelGroupLayout>
                    </f:facet>
                    <f:attribute name="tituloPantalla"
                                 value="#{viewcontrollerBundle['CAT.SEG_CATAS_UBICA_VAL.TITULO']}"/>
                </af:pageTemplate>
                <af:popup id="popupCancelar"
                          binding="#{viewScope.CataSegCatasUbicaValBean.editPopupCancelListener}"
                          clientComponent="true" contentDelivery="lazyUncached"
                          childCreation="deferred">
                    <af:dialog id="dialog1" type="cancel"
                               title="#{viewcontrollerBundle['TIT.CONFIRMAR']}"
                               closeIconVisible="false"
                               dialogListener="#{viewScope.CataSegCatasUbicaValBean.cancelarListener}" resize="off">
                        <af:outputText value="#{pageFlowScope.operacion eq 'nuevo' ? viewcontrollerBundle['SYS.ALTA'] : viewcontrollerBundle['SYS.MODIFICACION'] }"
                                       id="outputText1"/>
                        <f:facet name="buttonBar">
                            <af:commandButton text="#{viewcontrollerBundle['BOTON.ACEPTAR']}"
                                              id="cb3"
                                              actionListener="#{viewScope.CataSegCatasUbicaValBean.cancelarPopListener}"
                                              immediate="true">
                                <af:resetActionListener/>
                            </af:commandButton>
                        </f:facet>
                    </af:dialog>
                </af:popup>
                <af:popup id="popupRecBase" contentDelivery="lazyUncached"
                          childCreation="deferred"
                          popupCanceledListener="#{logout.regresarMenuDesdePopUp}">
                    <af:dialog id="d4" closeIconVisible="false" resize="off"
                               type="none">
                        <af:outputText value="#{viewcontrollerBundle['SYS.MUNICIPIO_REQ']}"
                                       id="ot11"/>
                        <f:facet name="buttonBar">
                            <af:commandButton id="cb4"
                                              text="#{viewcontrollerBundle['BOTON.ACEPTAR']}"
                                              action="#{logout.regresarMenu}"/>
                        </f:facet>
                    </af:dialog>
                </af:popup>
            </af:form>
        </af:document>
    </f:view>
</jsp:root>