<?xml version='1.0' encoding='UTF-8'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1"
          xmlns:f="http://java.sun.com/jsf/core"
          xmlns:af="http://xmlns.oracle.com/adf/faces/rich">
  <jsp:directive.page contentType="text/html;charset=UTF-8"/>
  <f:view>
    <af:document id="d1" inlineStyle="width:430px; height:200px;"
                 title="acerca de...">
      <af:form id="f1" inlineStyle="height:auto; width:auto;">
        <af:panelHeader text="Acerca de RECAUDADOR" id="ph2">
          <af:panelGroupLayout id="pgl6" layout="scroll" halign="center">
            <af:panelGroupLayout id="pgl7" halign="center" layout="horizontal">
              <af:image source="/catastro/image/logo_small.jpg"
                        shortDesc="TGC Logo" id="i2"
                        inlineStyle="height:106px; width:302.0px;"/>
            </af:panelGroupLayout>
            <af:spacer width="10" height="10" id="s9"/>
            <af:panelFormLayout id="pfl2" labelAlignment="start">
              <f:facet name="footer">
                <af:group id="g1">
                  <af:outputText value="#{ViewControllerBundle['ACERCA_DE.TGC']}" id="ot1"/>
                  <af:outputText value="#{ViewControllerBundle['ACERCA_DE.COPYRIGHT']}" id="ot2"/>
                </af:group>
              </f:facet>
              <af:panelGroupLayout id="pgl1" layout="horizontal">
                <af:outputText value="#{ViewControllerBundle['ACERCA_DE.VERSION']}" id="ot3"/>
                <af:spacer width="10" height="10" id="s1"/>
                <af:outputText value="#{initParam.APPLICATION_VERSION}"
                               id="ot4"/>
              </af:panelGroupLayout>
            </af:panelFormLayout>
          </af:panelGroupLayout>
        </af:panelHeader>
      </af:form>
    </af:document>
  </f:view>
</jsp:root>
